
.blog-sidebar {
    grid-column: 1 / 4;
}

.blog-main {
    grid-column: 4 / 13;
}


/* blog categories */
.categories {
    margin-bottom: 2rem;
}

.categories__title {
    // color: var(--link-color);
    font-size: var(--step--1);
    font-family: var(--text-font);
}

.categories__list {}

.categories__list__item {

    a {
        display: block;
        color: inherit;
        text-decoration: none;
        padding: .625rem .875rem;
        font-size: var(--step-0);

        &:hover {
            color: var(--link-color);
        }
    }

    a[aria-current="page"] {
        color: var(--link-color);
        background-color: var(--lightest-background-color);
        font-weight: 500;
    }
}

/* blog posts list */
.blog-posts {
    margin-bottom: var(--space-l-2xl);
    display: grid;
    grid-gap: 3rem 2rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    overflow: initial;
}

.card {
    text-align: left;
    align-self: stretch;
    display: inline-flex;
    flex-direction: column;
    gap: 2rem;
    flex: none;
    // margin-bottom: 2rem;

    @media all and (min-width: 640px) {
        margin-bottom: 0;
    }
}

.blog-page .card:first-of-type {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: var(--space-xl-2xl);

    .card__cover {
        flex: 3 1 400px;
    }

    .card__content {
        flex: 3 1 200px;
    }
}

.card--featured {
    display: flex;
    flex-wrap: wrap;
}

.card__cover {
    display: block;
    // margin-bottom: 2rem;

    img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: var(--border-radius);
        object-fit: cover;
        aspect-ratio: 7 / 4;
    }
}

.card__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
}

// .card__meta {
//     margin-bottom: 1rem;
// }

.card__title {
    margin-bottom: .5rem;

    a {
        color: inherit;
        text-decoration: none;

        &:hover {
            color: var(--color-brand);
        }
    }
}

.card__teaser {
    margin-bottom: 2rem;
    font-size: var(--step-0);
}

.card__footer {
    justify-self: flex-end;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: .75rem;

    margin-top: auto;
}

.blog-post__author-photo {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.blog-post__author-name {
    font-size: var(--step--1);
    line-height: 1.5;
    font-weight: 500;
    color: var(--headings-color);
}

.blog-post__publish-date {
    font-size: var(--step--1);
    line-height: 1.5;
}

.blog-post__category {
    background-color: #fff;
    border-radius: 1rem;
}

.card .badge-group {
    margin-bottom: 1rem;
}

.badge-group {
    background-color: var(--color-primary-50);
    color: var(--color-brand);
    border-radius: 1rem;
    display: inline-flex;
    padding: .25rem;
    font-size: var(--step--1);
    flex: none;
    align-self: flex-start;

    span {
        display: inline-flex;
        padding: 0.125rem .5rem;
    }
}


/* individual post page */

.post__sidebar {
    grid-row: 1;
}

ul.tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    margin-bottom: 2rem;
}

.tag-list__item {
    background-color: var(--lightest-background-color);
    color: var(--link-color);
    font-weight: 500;
    border-radius: 1rem;
    font-size: var(--step--1);
    padding: .125rem .625rem;
}

.post__meta {
    color: var(--link-color);
    font-weight: 500;
    margin-bottom: 1rem;
}

.post__sidebar-module {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}

.post__sidebar-module__title.post__sidebar-module__title {
    margin-top: 0;
    color: inherit;
    font-family: inherit;
    font-size: var(--step-0);
    margin-bottom: 1.5rem;
}


.post__sidebar-module {
    border-bottom: 1px solid var(--divider-color);

    &:last-of-type {
        border-bottom: none;
    }

    .person.contributor {
        margin-bottom: 1.5rem;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}


/* from the blog section */

.from-the-blog__title {
    margin-bottom: 1rem;
    font-family: var(--text-font);
}

.from-the-blog__more {
    margin-bottom: 2rem;
}

.from-the-blog__top {
    margin-bottom: var(--space-l-2xl);
}

.from-the-blog .blog-posts {
    grid-column: 1 / -1;
}
