.blog-sidebar {
    grid-column: 1 / 4;
}

.blog-main {
    grid-column: 4 / 13;
}


/* blog categories */
.categories {
    margin-bottom: 2rem;
}

.categories__title {
    font-size: var(--step--1);
    font-family: var(--text-font);
}

.categories__list {}

.categories__list__item {

    a {
        display: block;
        color: inherit;
        text-decoration: none;
        padding: .625rem .875rem;
        font-size: var(--step-0);

        &:hover {
            color: var(--link-color);
        }
    }

    a[aria-current="page"] {
        color: var(--link-color);
        background-color: var(--lightest-background-color);
        font-weight: 500;
    }
}

/* blog posts list */
.blog-posts {
    margin-bottom: var(--space-l-2xl);
    display: grid;
    grid-gap: 3rem 2rem;


    @media all and (min-width: 640px) {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

.card {
    text-align: left;
    align-self: stretch;
    display: inline-flex;
    flex-direction: column;
    gap: 2rem;
    flex: none;
}

.blog-page .card:first-of-type,
.card--featured {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: var(--space-xl-2xl);

    .card__cover {
        flex: 3 1 400px;
    }

    .card__content {
        flex: 3 1 200px;
    }
}

.card__cover {
    display: block;

    img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: var(--border-radius);
        object-fit: cover;
        aspect-ratio: 7 / 4;
    }
}

.card__content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.card__title {
    margin-bottom: .5rem;

    a {
        color: inherit;
        text-decoration: none;

        &:hover {
            color: var(--color-brand);
        }
    }
}

.card__teaser {
    margin-bottom: 2rem;
    font-size: var(--step-0);
}

.card__footer {
    justify-self: flex-end;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: .75rem;

    margin-top: auto;
}

.blog-post__author-photo {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.blog-post__author-name {
    font-size: var(--step--1);
    line-height: 1.5;
    font-weight: 500;
    color: var(--headings-color);
}

.blog-post__publish-date {
    font-size: var(--step--1);
    line-height: 1.5;
}

.blog-post__category {
    background-color: #fff;
    border-radius: 1rem;
}

.card .badge-group {
    margin-bottom: 1rem;
}

.badge-group {
    background-color: var(--color-primary-50);
    color: var(--color-brand);
    border-radius: 1rem;
    display: inline-flex;
    padding: .25rem;
    font-size: var(--step--1);
    flex: none;
    align-self: flex-start;

    span {
        display: inline-flex;
        padding: 0.125rem .5rem;
    }
}


/* individual post page */
.post__meta {
    color: var(--link-color);
    font-weight: 500;
    margin-bottom: 1rem;
}
