.brand__logo {
    @media all and (max-width: 1023px) {
        margin: var(--space-l-2xl) 0;
    }
}


.brand__logo__img {
    height: 100%;
    min-height: calc(310px + 5vw);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    border-radius: var(--border-radius);

    &[data-brand-theme="light"] {
        background-color: var(--color-neutral-100);
    }

    &[data-brand-theme="brand"] {
        background-color: var(--color-brand);
    }

    &[data-brand-theme="dark"] {
        background-color: var(--color-neutral-900);
    }
}

.brand__logo__colors {
    display: flex;
    align-items: center;
}

.brand__logo__colors__btn {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    flex: none;
    margin-left: .75rem;
    margin-inline-start: .75rem;
    background-color: var(--background-color);
    border-radius: 50%;
    position: relative;

    &::before {
        content: attr(data-theme);
        position: absolute;
        top: calc(100% + .25rem);
        left: 0;
        transform: translateX(-1rem);
        box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1),
        0px 4px 6px -2px rgba(16, 24, 40, 0.05);
        display: none;
        background-color: var(--lightest-background-color);
        border-radius: .25rem;
        padding: .25rem .75rem;
    }

    &:hover {
        &::before {
            display: block;
        }
    }

    &:focus-visible {
        &::before {
            display: block;
        }
    }
    &.focus-visible {
        &::before {
            display: block;
        }
    }
}
