.brand__logo {
    @media all and (max-width: 1023px) {
        margin: var(--space-l-2xl) 0;
    }
}


.brand__logo__img {
    height: 100%;
    min-height: calc(310px + 5vw);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    border-radius: var(--border-radius);

    &[data-light] {
        background-color: var(--color-neutral-100);
    }

    &[data-brand] {
        background-color: var(--color-brand);
    }

    &[data-dark] {
        background-color: var(--color-neutral-900);
    }
}

.swatches {
    margin-top: var(--space-l-2xl);
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    list-style: none;

    @media all and (min-width: 1023px) {
        display: grid;
        margin: 0;
        overflow: initial;
        grid-template-columns: repeat(auto-fit, minmax(104px, 1fr));
        grid-gap: 2rem .5rem;

    }
}


.swatch {
    min-width: 105px;
    margin: 0;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-lg);
    display: flex;
    flex-direction: column-reverse;
    margin-right: 1rem;
    overflow: hidden;

    svg {
        display: block;
        max-width: 100%;
        width: 124px;
        height: 80px;
    }

    figcaption {
        display: block;
        padding: .75rem;

        span {
            display: block;
        }
    }
}
.swatch__description {
    color: var(--headings-color);
    font-weight: 500;
    // font-size: 1.125rem;
}

.swatch__value {

}
