#carbonads * {
    margin: initial;
    padding: initial;
}

#carbonads {
    display: block;
    margin: 0 24px;
    padding: .6em;

    font-size: 16px;
    line-height: 1.35;
    overflow: hidden;
    border-radius: 4px;
    background-color: var(--body-background-color);
    box-shadow: 0 1px 4px 1px hsla(0, 0%, 0%, 0.1);
}

.jumbotron #carbonads {
    border: solid 1px hsla(250, 20%, 50%, .6);
    background-color: hsla(0, 0%, 70%, .15);
}

#carbonads a {
    font-weight: 500;
    color: inherit;
}

#carbonads a:hover {
    text-decoration: none;
    color: inherit;
}

.jumbotron #carbonads a {
    color: #eee;
}

.jumbotron #carbonads a:hover {
    color: #ccc;
}

#carbonads span {
    display: block;
    position: relative;

    overflow: hidden;
}

#carbonads .carbon-wrap {
    display: flex;

    flex-direction: column;
    max-width: 130px;
}

#carbonads .carbon-img img {
    display: block;
}

#carbonads .carbon-text {
    margin-top: 10px;

    font-size: 14px;
    text-align: left;
}

#carbonads .carbon-poweredby {
    display: block;
    margin-top: 10px;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 1px;
    text-transform: uppercase;
}

@media only screen and (min-width: 320px) and (max-width: 759px) {
    #carbonads {
        margin-top: 0;

        font-size: 12px;
    }

    #carbonads .carbon-wrap {
        display: flex;

        flex-direction: row;
        max-width: 330px;
    }

    #carbonads .carbon-text {
        margin: 0 0 14px 10px;

        font-size: 14px;
        text-align: left;
    }

    #carbonads .carbon-poweredby {
        position: absolute;
        bottom: 0;
        left: 142px;

        font-size: 8px;
    }
}
