


.problems {
    display: inline-block;
    position: relative;
}

.eslint-actions {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    gap: 1rem;

    @media all and (min-width: 640px) {
        flex-direction: row;
    }
}

.eslint-install-code-wrapper {
    position: relative;
}

.eslint-install-code {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--lightest-background-color);
    border-radius: var(--border-radius);
    border: 1px solid var(--divider-color);
    padding: .75rem 1.25rem .75rem 1rem;
    white-space: nowrap;
    margin-top: 1.5rem;
    margin-block-start: 1.5rem;
    overflow-x: auto;
    max-width: 100%;
    color: var(--headings-color);

    [data-theme="dark"] & {
        background-color: var(--color-neutral-700);
    }

    // @media (prefers-color-scheme: dark) {
    //     background-color: var(--color-neutral-700);
    // }

    code {
        color: var(--headings-color);
    }

    input {
        all: unset;
        min-width: 30ch;
        color: inherit;
        font-family: var(--mono-font);

        &::selection {
            background-color: #fff;
            color: var(--body-text-color);
        }
    }
}

.eslint-install-code__btn {
    .c-icon {
        color: var(--body-text-color);
    }

    &:hover,
    &:focus,
    &:active {
        .c-icon {
            color: var(--link-color);
        }
    }

    &[data-copied="true"] {
        .c-icon {
            color: var(--link-color);
        }
    }
}

.eslint-install-code__announcement {
    font-size: .875rem;
    padding: .25rem .75rem;
    font-size: var(--step--1);
    border-radius: var(--border-radius);
    display: block;
    position: absolute;
    top: calc(100% + .5rem);
    offset-block-start: calc(100% + .5rem);
    transition: opacity 1s linear 3s;

    &[data-fades-out] {
        opacity: 0;
    }
}

.eslint-versions-col {
    display: flex;
    flex-direction: column;

    @media all and (min-width: 1023px) {
        align-items: flex-end;
    }
}

.eslint-versions {
    margin-top: 3rem;
    margin-block-start: 3rem;
    display: inline-flex;
    flex-direction: column;

    dt {
        border-bottom: 1px solid var(--divider-color);
        padding: .25em 0;
        margin-bottom: .5em;
        padding-right: 1rem;
        border-block-end: 1px solid var(--divider-color);
        padding: .25em 0;
        margin-block-end: .5em;
        padding-inline-end: 1rem;
    }

    dd {
        margin-left: 0;
        margin-bottom: 1rem;
        padding-right: 1rem;
        margin-inline-start: 0;
        margin-block-end: 1rem;
        padding-inline-end: 1rem;
    }

    .c-icon {
        margin-right: .5rem;
        margin-inline-end: .5rem;
    }
}


/* team page */
.people-list {
    display: grid;
    grid-gap: 3rem 2rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

/* homepage metrics section */

.metrics {
    background-color: var(--lightest-background-color);
    color: var(--link-color);
    font-size: 1.125rem;
    border-radius: var(--border-radius);
    padding: var(--space-l-2xl);

    @media all and (min-width: 768px) {
        display: flex;
    }
}

.metrics__item {
    flex: 1;
    display: block;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.metrics__value {
    display: block;
    font-size: var(--step-6);
    line-height: 1;
    font-family: var(--mono-font);
    flex: 9999;
    margin-bottom: .75rem;
    margin-block-end: .75rem;
}


/* Homepage Features Section */
.features-wrapper.grid {
    align-items: center;
}

.features {
    border-left: 4px solid var(--lighter-background-color);
    padding-left: 1.5rem;
    border-inline-start: 4px solid var(--lighter-background-color);
    padding-inline-start: 1.5rem;
}

.feature {
    padding: 2rem 0;

    &:not(:last-of-type) {
        border-bottom: 1px solid var(--divider-color);
        border-block-end: 1px solid var(--divider-color);
    }

    .donate-page & {
        border-bottom: none;
        border-block-end: none;
    }
}

.feature__title {
    font-size: var(--step-1);
    font-family: var(--text-font);
    margin-bottom: .5rem;
    margin-block-end: .5rem;
}

.feature__description {
    margin-bottom: 1.25rem;
    margin-block-end: 1.25rem;
}

.feature__details-link {
    display: flex;
    gap: .5rem;
    align-items: center;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.features-wrapper {}


.features-image {
    display: none;

    img {
        margin: 2rem auto;

        .donate-page & {
            overflow: hidden;
            display: block;
            border-radius: var(--border-radius);
        }
    }

    @media all and (min-width: 1023px) {
        display: block;
    }


}


/* alert */
.alert {
    display: grid;
    grid-template-columns: auto 1fr;
    border-radius: var(--border-radius);

    &.warning {
        color: var(--color-rose-600);
        background-color: var(--color-rose-25);
        border-color: var(--color-warning-300);
    }

    &.important {
        color: var(--color-warning-600);
        background-color: var(--color-warning-25);
        border-color: var(--color-warning-300);
    }

    &.tip {
        color: var(--color-success-600);
        background-color: var(--color-success-25);
        border-color: var(--color-warning-300);
    }
}

/* sponsors lists */
.sponsors.sponsors {
    text-align: center;
    margin-bottom: var(--space-m-l);
    margin-block-end: var(--space-m-l);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media all and (max-width: 1023px) {
        margin-top: 2.5rem;
        margin-block-start: 2.5rem;
    }

    li {
        display: inline-block;
        margin: 0 .75rem 1.5rem;

        a {
            display: block;
        }

    }

    img {
        display: block;
        height: auto;
        max-height: 3rem;
    }
}

.sponsors.sponsors--backers {
    img {
        border-radius: 50%;
    }
}

.sponsors.sponsors--platinum {
    img {
        max-height: 8rem;
    }
}

.sponsors.sponsors--gold {
    img {
        max-height: 6rem;
    }
}

.sponsors.sponsors--silver {
    img {
        max-height: 8rem;
    }
}

.sponsors.sponsors--bronze,
.sponsors.sponsors--technology {
    img {
        max-height: 3rem;
    }
}



// donation plans on donate page

.donation-plans {}

.donation-plan {
    border: 1px solid var(--divider-color);
    border-radius: var(--border-radius);
    margin-bottom: 2rem;
    box-shadow: var(--shadow-lg);

    &:first-of-type() {
        @media all and (max-width: 768px) {}
    }
}

.donation-plan__header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: start;
    grid-gap: 1.5rem;
    padding: 2rem 2rem 1.5rem;

    img {
        @media all and (max-width: 640px) {
            width: 3rem;
        }
    }
}

ul.donation-plan__features {
    li {
        margin-bottom: 1rem;
        margin-block-start: 1rem;
        display: flex;
        align-items: start;

        .c-icon {
            width: 1.5rem;
            height: 1.5rem;
            margin-right: .75rem;
            margin-inline-end: .75rem;
        }
    }
}

.donation-plan__platform-name {
    margin-bottom: .25rem;
    margin-block-end: .25rem;
    font-size: var(--step-2);
}

.donation-plan__description {
    margin-bottom: 0;
    margin-block-end: 0;
}

.donation-plan__footer {
    .c-btn {
        align-items: c;

        svg {
            margin-top: -.1rem;
            margin-block-start: -.1rem;
        }
    }
}

ul.donation-plan__features,
.donation-plan__footer {
    padding: 2rem;
}

.donation-plan__header {
    padding: 2rem 2rem 1.5rem;
}

@media all and (max-width: 640px) {

    ul.donation-plan__features,
    .donation-plan__footer {
        padding: 2rem 1rem;
    }

    .donation-plan__header {
        padding: 2rem 1rem 1.5rem;
    }
}

// donation tiers on donate page
.donation-tiers {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2rem;
    margin: 0;
    padding: 0;
}

.donation-tiers__item {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-gap: 2rem;
    padding: 2rem;
    margin-bottom: 2rem;
    margin-block-end: 2rem;
    box-shadow: var(--shadow-lg);
    border-radius: var(--border-radius);
    border: 1px solid var(--divider-color);

    @media all and (max-width: 640px) {
        padding: 2rem 1rem;
    }

    .c-btn {
        text-align: center;
        font-size: .875rem;
    }

    .c-btn--block:not(:last-of-type) {
        margin-bottom: 1rem;
        margin-block-end: 1rem;
    }

    &.all-others {
        all: inherit;
        display: block;
        grid-column: -1 / 1;
        text-align: center;
    }
}

.donation-tiers__title {
    margin: 0;
    color: var(--link-color);
    font-size: var(--step-0);
    text-align: center;
    font-family: var(--text-font);
    font-weight: normal;

    span {
        display: block;
        margin-bottom: .5rem;
        margin-block-end: .5rem;
    }

    .all-others & {
        margin-bottom: .5rem;
        margin-block-end: .5rem;

        span {
            font-weight: 500;
            display: inline;
        }
    }
}

.donation-tiers__title__value {
    color: var(--headings-color);
    font-size: var(--step-3);
    font-family: var(--display-font);

    .all-others & {
        all: inherit;
    }
}

.donation-tiers__title__freq {
    color: var(--body-text-color);
    font-weight: 400;

    .all-others & {
        all: inherit;
    }
}

.donation-tiers__item__description {
    justify-self: baseline;
    margin-bottom: 2rem;
    margin-block-end: 2rem;
}

.donation-tiers--others {
    text-align: center;
    margin-top: var(--space-l-2xl);
    margin-block-start: var(--space-l-2xl);

    p {
        margin-bottom: .5rem;
        margin-block-end: .5rem;
    }

    .c-btn {
        margin-top: 1rem;
        margin-block-start: 1rem;
    }
}
