.docs-footer {
    padding: 1.5rem;

    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
    align-items: baseline;

    .copyright p {
        margin: 0;
    }

    .docs-socials-and-legal {
        flex: 1 0 35ch;

        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .docs-switcher {
        flex: 0 0 240px;
    }
}
