.docs-footer {
    padding: 1.5rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
    align-items: baseline;

    .copyright p {
        margin: 0;
    }

    .docs-socials-and-legal {
        flex: 1 1 240px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .docs-switchers {
        flex: 1 1 240px;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        .theme-switcher, .language-switcher {
            flex: 1 1 240px;
        }
    }
}
