.docs-wrapper {
    margin: 0 auto;
    padding: calc(1rem + 1vw);
    flex: 1;
}
.docs-left-sidebar {
    grid-row: 1;
    grid-column: 1 / 4;
}

.docs-content {
    grid-row: 1;
    grid-column: 4 / 13;
}

.docs-right-sidebar {
    grid-row: 1;
    grid-column: 10 / 13;
}
