.docs {
    max-width: 1700px;
    margin: 0 auto;
}

.docs-wrapper {
    padding: 0 calc(1rem + 1vw);
    flex: 1;

    @media all and (min-width: 1023px) {
        display: grid;
        grid-template-columns: minmax(300px, 1fr) minmax(0, 3fr);
        grid-gap: 2rem;
        align-items: stretch;
    }
}

.docs-left-sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: calc(1rem + 1vw) 0;

    @media all and (min-width: 1023px) {
        border-right: 1px solid var(--divider-color);
        border-right: 1px solid var(--divider-color);
        padding-right: calc(1rem + 1vw);
        padding-inline-end: calc(1rem + 1vw);
    }



    display: grid;
    grid-auto-rows: max-content;
    align-items: start;
}

.docs-content {
    padding: calc(2rem + 1vw) 0;
    grid-column: 2 / 3;

    @media all and (min-width: 800px) {
        display: grid;
        grid-template-columns: minmax(0, 3fr) minmax(230px, 1fr);
        grid-gap: 4rem;
    }

}

.docs-main {
    padding-top: var(--space-l-xl);
    padding-block-start: var(--space-l-xl);

    flex: 1 1 65ch;

    @media all and (min-width: 1023px) {
        padding: 0 2rem;
    }
}


.docs-right-sidebar {
    grid-column: 2 / 3;

    display: flex;
    flex-direction: column;

    flex: 1 1 200px;
}

.docs-toc {
    flex: 1;
}

.docs-edit-link {
    border-top: 1px solid var(--divider-color);
    padding-top: 1.5rem;
    padding-block-start: 1.5rem;
    margin-top: 3rem;
    margin-block-start: 3rem;
}

pre[class^="language-"] {
    position: relative;

    &[data-correct] {

    }

    &[data-incorrect] {

    }
}

.c-btn.c-btn--playground {
    position: absolute;
    font-size: var(--step--1);
    bottom: .5rem;
    right: .5rem;
    offset-blcok-end: .5rem;
    offset-inline-end: .5rem;
}
