.site-footer {
    text-align: center;

    background-color: var(--footer-background-color);

    border-top: 1px solid var(--divider-color);
}

.footer-cta {
    .logo {
        margin-bottom: 2.5rem;
    }

    .section-supporting-text {
        margin-bottom: 2.5rem;
    }

    .eslint-actions {
        justify-content: center;
    }
}

.footer-legal-links {
    ul {
        // display: flex;

        li {
            display: inline-block;
            margin-right: .5rem;
            // border-right: 1px solid var(--color-neutral-500);

            &:not(:last-of-type)::after {
                content: "|";
                margin-left: .5rem;
            }
        }
    }
}

.footer-legal-section {
    font-size: var(--step--1);
    padding: 2rem 1rem;
}



.copyright {
    max-width: 1100px;
    margin: 0 auto;
}




.footer-middle {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    @media all and (min-width: 640px) {
        flex-direction: row;
        justify-content: space-between;
    }

}



.language-switcher {
    display: inline-flex;
}
