.c-custom-select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    box-sizing: border-box;
    display: block;
    width: 100%;
    max-width: 100%;
    min-width: 0px;
    padding: .625rem .875rem;
    padding-right: calc(.875rem * 3);
    font: inherit;
    color: var(--color-neutral-500);
    line-height: 1.3;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-xs);
    background-color: var(--body-background-color);
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 7.60938L10 12.6094L15 7.60938' stroke='%23667085' stroke-width='1.66667' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A"), linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
    background-repeat: no-repeat, repeat;
    background-position: right calc(.875rem * 1.5) top 50%, 0 0;
    background-size: 1em auto, 100%;
}

label,
.label {
    display: block;
    font-size: .875rem;
    color: inherit;
}

span.label__text {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: .25rem;
}

input {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: .75rem .875rem;
    font: inherit;
    font-size: 1rem;
    display: block;
    min-width: 0;
    width: 100%;
    max-width: 100%;

    background-color: var(--body-background-color);
    color: inherit;
}
