.site-header {
    padding: .75rem 0;

    border-top: 4px solid var(--link-color);

    border-bottom: 1px solid var(--divider-color);

    .content-container {
        display: grid;
        align-items: start;
        padding-top: 0;
        padding-bottom: 0;

        @media all and (min-width: 680px) {
            justify-content: space-between;
        }
    }
}


.logo-link {
    display: inline-flex;
    justify-self: start;
    flex: none;
    grid-column: 1 / -1;
    grid-row: 1;
    padding: .5rem 0;
}

.logo {
    display: inline-flex;
    place-content: center;
}

.logo svg {
    width: 100%;
    max-width: 100px;
    height: auto;
}
