.site-header {
    padding: .75rem 0;
    border-top: 4px solid var(--color-brand);
    border-bottom: 1px solid var(--divider-color);

    .content-container {
        display: grid;
        align-items: start;
        padding-top: 0;
        padding-bottom: 0;

        @media all and (min-width: 640px) {
            justify-content: space-between;
        }
    }

    a:not(.c-btn) {
        text-decoration: none;
        color: inherit;
        transition: color .2s linear;

        &:hover {
            color: var(--color-brand);
        }

        &[aria-current] {
            color: var(--color-brand);
            text-decoration: underline;
        }
    }
}


.logo-link {
    display: inline-flex;
    justify-self: start;
    flex: none;
    grid-column: 1 / -1;
    grid-row: 1;
    padding: .5rem 0;
}
