:root {
    /* Tier 1 variables */
    // colors
    --color-neutral-25: #FCFCFD;
    --color-neutral-50: #F9FAFB;
    --color-neutral-100: #F2F4F7;
    --color-neutral-200: #E4E7EC;
    --color-neutral-300: #D0D5DD;
    --color-neutral-400: #98A2B3;
    --color-neutral-500: #667085;
    --color-neutral-600: #475467;
    --color-neutral-700: #344054;
    --color-neutral-800: #1D2939;
    --color-neutral-900: #101828;

    --color-primary-25: #FBFBFF;
    --color-primary-50: #F6F6FE;
    --color-primary-100: #ECECFD;
    --color-primary-200: #DEDEFF;
    --color-primary-300: #CCCCFA;
    --color-primary-400: #B7B7FF;
    --color-primary-500: #A0A0F5;
    --color-primary-600: #8080F2;
    --color-primary-700: #6358D4;
    --color-primary-800: #4B32C3;
    --color-primary-900: #341BAB;

    --color-warning-25: #FFFCF5;
    --color-warning-50: #FFFAEB;
    --color-warning-100: #FEF0C7;
    --color-warning-200: #FEDF89;
    --color-warning-300: #FEC84B;
    --color-warning-400: #FDB022;
    --color-warning-500: #F79009;
    --color-warning-600: #DC6803;
    --color-warning-700: #B54708;
    --color-warning-800: #93370D;
    --color-warning-900: #7A2E0E;

    --color-success-25: #F6FEF9;
    --color-success-50: #ECFDF3;
    --color-success-100: #D1FADF;
    --color-success-200: #A6F4C5;
    --color-success-300: #6CE9A6;
    --color-success-400: #32D583;
    --color-success-500: #12B76A;
    --color-success-600: #039855;
    --color-success-700: #027A48;
    --color-success-800: #05603A;
    --color-success-900: #054F31;

    --color-rose-25: #FFF5F6;
    --color-rose-50: #FFF1F3;
    --color-rose-100: #FFE4E8;
    --color-rose-200: #FECDD6;
    --color-rose-300: #FEA3B4;
    --color-rose-400: #FD6F8E;
    --color-rose-500: #F63D68;
    --color-rose-600: #E31B54;
    --color-rose-700: #C01048;
    --color-rose-800: #A11043;
    --color-rose-900: #89123E;

    // typography

    --mono-font: "Space Mono", monospace;
    --text-font: "Inter",
                -apple-system,
                BlinkMacSystemFont,
                "Segoe UI",
                Roboto,
                Helvetica,
                Arial,
                sans-serif,
                "Apple Color Emoji",
                "Segoe UI Emoji",
                "Segoe UI Symbol";
    --display-font: "Space Grotesk",
                    -apple-system,
                    BlinkMacSystemFont,
                    "Segoe UI",
                    Roboto,
                    Helvetica,
                    Arial,
                    sans-serif,
                    "Apple Color Emoji",
                    "Segoe UI Emoji",
                    "Segoe UI Symbol";


    // spacing
    --spacer-2x: 2rem; // 32px
    --spacer-3x: 3rem; // 48px
    --spacer-4x: 4rem; // 64px
    --spacer-6x: 6rem; // 96px
    --spacer-8x: 8rem; // 128px

    // elevations
    // todo: add elevations and add them to buttons


    /* Tier 2 variables */
    --color-brand: var(--color-primary-800);
    --border-color: var(--color-neutral-300);
    --border-radius: .5rem;
    --divider-color: var(--color-neutral-200);

    --primary-button-background-color: var(--color-primary-800);
    --primary-button-hover-color: var(--color-primary-900);
    --primary-button-text-color: #fff;
    --secondary-button-background-color: var(--color-primary-50);
    --secondary-button-hover-color: var(--color-primary-100);
    --secondary-button-text-color: var(--color-brand);
    --ghost-button-background-color: var(--color-primary-50);
    --ghost-button-text-color: var(--color-brand);

    --border-color: var(--color-neutral-300);
    --tab-border-color: var(--color-neutral-100);

    --body-background-color: #fff;
    --body-text-color: var(--color-neutral-500);
    --headings-color: var(--color-neutral-900);
    --icon-color: var(--color-neutral-400);
    --link-color: var(--color-primary-800);

    --hero-background-color: var(--color-neutral-25);
    --footer-background-color: var(--color-neutral-25);
    --donation-background-color: var(--color-neutral-50);
}


@media (prefers-color-scheme: dark) {
    :root {
        // --body-background-color: var(--color-neutral-900);
        // --body-text-color: var(--color-neutral-400);
        // --headings-color: #fff;
        // --link-color: var(--color-primary-500);
        // --divider-color: var(--color-neutral-600);
        // --border-color: var(--color-neutral-500);

        // --tab-border-color: var(--color-neutral-800);

        // --donation-background-color: var(--color-neutral-800);

        // --hero-background-color: var(--color-neutral-800);
        // --footer-background-color: var(--color-neutral-800);
    }
}

/* @link https://utopia.fyi/space/calculator?c=320,16,1.125,1440,16,1.25,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6|8,l-2xl|xl-3xl|xl-4xl */

:root {
    --fc-3xs-min: (var(--fc-s-min) * 0.25);
    --fc-3xs-max: (var(--fc-s-max) * 0.25);

    --fc-2xs-min: (var(--fc-s-min) * 0.5);
    --fc-2xs-max: (var(--fc-s-max) * 0.5);

    --fc-xs-min: (var(--fc-s-min) * 0.75);
    --fc-xs-max: (var(--fc-s-max) * 0.75);

    --fc-s-min: (var(--f-0-min));
    --fc-s-max: (var(--f-0-max));

    --fc-m-min: (var(--fc-s-min) * 1.5);
    --fc-m-max: (var(--fc-s-max) * 1.5);

    --fc-l-min: (var(--fc-s-min) * 2);
    --fc-l-max: (var(--fc-s-max) * 2);

    --fc-xl-min: (var(--fc-s-min) * 3);
    --fc-xl-max: (var(--fc-s-max) * 3);

    --fc-2xl-min: (var(--fc-s-min) * 4);
    --fc-2xl-max: (var(--fc-s-max) * 4);

    --fc-3xl-min: (var(--fc-s-min) * 6);
    --fc-3xl-max: (var(--fc-s-max) * 6);

    --fc-4xl-min: (var(--fc-s-min) * 8);
    --fc-4xl-max: (var(--fc-s-max) * 8);

    /* T-shirt sizes */
    --space-3xs: calc(((var(--fc-3xs-min) / 16) * 1rem) + (var(--fc-3xs-max) - var(--fc-3xs-min)) * var(--fluid-bp));
    --space-2xs: calc(((var(--fc-2xs-min) / 16) * 1rem) + (var(--fc-2xs-max) - var(--fc-2xs-min)) * var(--fluid-bp));
    --space-xs: calc(((var(--fc-xs-min) / 16) * 1rem) + (var(--fc-xs-max) - var(--fc-xs-min)) * var(--fluid-bp));
    --space-s: calc(((var(--fc-s-min) / 16) * 1rem) + (var(--fc-s-max) - var(--fc-s-min)) * var(--fluid-bp));
    --space-m: calc(((var(--fc-m-min) / 16) * 1rem) + (var(--fc-m-max) - var(--fc-m-min)) * var(--fluid-bp));
    --space-l: calc(((var(--fc-l-min) / 16) * 1rem) + (var(--fc-l-max) - var(--fc-l-min)) * var(--fluid-bp));
    --space-xl: calc(((var(--fc-xl-min) / 16) * 1rem) + (var(--fc-xl-max) - var(--fc-xl-min)) * var(--fluid-bp));
    --space-2xl: calc(((var(--fc-2xl-min) / 16) * 1rem) + (var(--fc-2xl-max) - var(--fc-2xl-min)) * var(--fluid-bp));
    --space-3xl: calc(((var(--fc-3xl-min) / 16) * 1rem) + (var(--fc-3xl-max) - var(--fc-3xl-min)) * var(--fluid-bp));
    --space-4xl: calc(((var(--fc-4xl-min) / 16) * 1rem) + (var(--fc-4xl-max) - var(--fc-4xl-min)) * var(--fluid-bp));

    /* One-up pairs */
    --space-3xs-2xs: calc(((var(--fc-3xs-min) / 16) * 1rem) + (var(--fc-2xs-max) - var(--fc-3xs-min)) * var(--fluid-bp));
    --space-2xs-xs: calc(((var(--fc-2xs-min) / 16) * 1rem) + (var(--fc-xs-max) - var(--fc-2xs-min)) * var(--fluid-bp));
    --space-xs-s: calc(((var(--fc-xs-min) / 16) * 1rem) + (var(--fc-s-max) - var(--fc-xs-min)) * var(--fluid-bp));
    --space-s-m: calc(((var(--fc-s-min) / 16) * 1rem) + (var(--fc-m-max) - var(--fc-s-min)) * var(--fluid-bp));
    --space-m-l: calc(((var(--fc-m-min) / 16) * 1rem) + (var(--fc-l-max) - var(--fc-m-min)) * var(--fluid-bp));
    --space-l-xl: calc(((var(--fc-l-min) / 16) * 1rem) + (var(--fc-xl-max) - var(--fc-l-min)) * var(--fluid-bp));
    --space-xl-2xl: calc(((var(--fc-xl-min) / 16) * 1rem) + (var(--fc-2xl-max) - var(--fc-xl-min)) * var(--fluid-bp));
    --space-2xl-3xl: calc(((var(--fc-2xl-min) / 16) * 1rem) + (var(--fc-3xl-max) - var(--fc-2xl-min)) * var(--fluid-bp));
    --space-3xl-4xl: calc(((var(--fc-3xl-min) / 16) * 1rem) + (var(--fc-4xl-max) - var(--fc-3xl-min)) * var(--fluid-bp));

    /* Custom pairs */
    --space-l-2xl: calc(((var(--fc-l-min) / 16) * 1rem) + (var(--fc-2xl-max) - var(--fc-l-min)) * var(--fluid-bp));
    --space-xl-3xl: calc(((var(--fc-xl-min) / 16) * 1rem) + (var(--fc-3xl-max) - var(--fc-xl-min)) * var(--fluid-bp));
    --space-xl-4xl: calc(((var(--fc-xl-min) / 16) * 1rem) + (var(--fc-4xl-max) - var(--fc-xl-min)) * var(--fluid-bp));
}
