.playground-wrapper {
    @media all and (min-width: 1023px) {
        display: grid;
        grid-template-columns: minmax(0, 3fr) minmax(250px, 1fr);
        align-items: stretch;
    }
}

.playground__main {
    grid-column: 1 / 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 77px - 41px);

    @media all and (min-width: 1023px) {
        height: calc(100vh - 77px);
    }
}

.playground__config-and-footer {
    grid-column: 2 / 3;
    grid-row: 1;

    display: flex;
    flex-direction: column;
    background-color: var(--lightest-background-color);

    @media all and (min-width: 1023px) {
        border-left: 1px solid var(--divider-color);
        border-inline-end: 1px solid var(--divider-color);
        background-color: inherit;
    }
}

.playground__console {
    padding: 1rem;
    background-color: var(--lightest-background-color);
    border-top: 1px solid var(--divider-color);
    height: 290px;
    overflow-y: auto;
    position: relative;
    z-index: 10;
}

.playground__editor {
    display: flex;
    padding: 1rem;
    overflow: auto;
    flex: 1;
}

.playground__config-and-footer {
    @media all and (min-width: 1023px) {
        height: calc(100vh - 77px);
        overflow-y: auto;
    }
}

.playground__config {
    flex: 1;
    border-bottom: 1px solid var(--divider-color);
    border-block-end: 1px solid var(--divider-color);

    display: flex;
    flex-direction: column;


    @media all and (min-width: 1023px) {
        border-bottom: none;
        border-block-end: none;
    }
}

.playground__config-options {
    display: flex;
    flex-direction: column;

    flex: 1;
}

.playground__config-options__sections {
    flex: 1;
}

.eslint-actions {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    gap: 1rem;

    @media all and (min-width: 640px) {
        flex-direction: row;
    }
}
