/* sponsors lists */
.sponsors.sponsors {
    text-align: center;
    margin-bottom: var(--space-m-l);
    margin-block-end: var(--space-m-l);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media all and (max-width: 1023px) {
        margin-top: 2.5rem;
        margin-block-start: 2.5rem;
    }

    li {
        display: inline-block;
        margin: 0 .75rem 1.5rem;

        a {
            display: block;
        }

    }

    picture, img {
        display: block;
        height: auto;
        max-height: 3rem;

        [data-theme="dark"] & {
            background-color: #fff;
            border-radius: var(--border-radius);
        }
    }
}

.sponsors.sponsors--backers {
    picture, img {
        border-radius: 50%;
    }
}

.sponsors.sponsors--platinum {
    picture, img {
        max-height: 8rem;
    }
}

.sponsors.sponsors--gold {
    picture, img {
        max-height: 6rem;
    }
}

.sponsors.sponsors--silver {
    picture, img {
        max-height: 8rem;
    }
}

.sponsors.sponsors--bronze,
.sponsors.sponsors--technology {
    picture, img {
        max-height: 3rem;
    }
}
