@import 'tokens/themes.scss';
@import 'tokens/spacing.scss';
@import 'tokens/typography.scss';
@import 'tokens/ui.scss';

@import 'foundations.scss';
@import 'syntax-highlighter.scss';
@import 'animation.scss';
@import 'header.scss';
@import 'footer.scss';
@import 'forms.scss';
@import 'branding.scss';
@import 'blog.scss';
@import 'homepage.scss';
@import 'versions.scss';
@import 'sponsors.scss';
@import 'donations.scss';

@import 'components/buttons.scss';
@import 'components/carbon-ads.scss';
@import 'components/card.scss';
@import 'components/navigation.scss';
@import 'components/pagination.scss';
@import 'components/search.scss';
@import 'components/accordion.scss';
@import 'components/slider.scss';
@import 'components/post-share.scss';
@import 'components/profile.scss';
@import 'components/languages.scss';
@import 'components/social-icons.scss';
@import 'components/swatches.scss';
@import 'components/hero.scss';
@import 'components/theme-switcher.scss';
@import 'components/version-switcher.scss';
@import 'components/language-switcher.scss';
@import 'components/index.scss';

@import 'utilities.scss';
