{%- macro warning(params) -%}
    <div role="note" class="alert alert--warning">
            <img src="" alt="">
            Warning

            <div class="alert__text">{{ params.text }}</div>
    </div>
{%- endmacro -%}

{%- macro important(params) -%}
    <div role="note" class="alert alert--important">
            <img src="" alt="">
            Important

            <div class="alert__text">{{ params.text }}</div>
    </div>
{%- endmacro -%}

{%- macro tip(params) -%}
    <div role="note" class="alert alert--tip">
            <img src="" alt="">
            Warning

            <div class="alert__text">{{ params.text }}</div>
    </div>
{%- endmacro -%}
