{%- macro card(params) -%}
<article class='card {% if params.featured == "true" %} card--featured {% endif %}'>
    {%- if params.image -%}
        {% set imageName =  params.image %}
    {%- elseif params.category -%}
        {% set imageName =  [params.category | slugify, '.png' ] | join %}
    {% else %}
        {% set imageName =  'sponsorships.png' %}
    {% endif %}

    {% set img = ['/assets/images/blog-covers/', imageName] | join  %}

    <a href="{{ params.url }}" class="card__cover">
        <!-- <img src="{{ img | url }}"
                width="420" height="240" alt="{{ params.title }}" loading="lazy" decoding="async" /> -->
        {% set image_path = ["/blog-covers/", imageName] | join %}
        {% set image_alt = params.title %}
        {% image image_path, params.title %}
    </a>
    <div class="card__content">
        <div class="badge-group">
            <span class="blog-post__category">
                <span class="visually-hidden">Published under:</span> {{ params.category }}
            </span>
            <span class="blog-post__reading-time">
                {{ params.readingTime }} read
            </span>
        </div>

        <h3 class="card__title">
            <a href="{{ params.url }}">
                {{ params.title }}</a>
        </h3>
        <p class="card__teaser">
            {{ params.teaser }}
        </p>
        <div class="card__footer">
            <img class="blog-post__author-photo" src="{% if params.authorImage %}{{ params.authorImage }} {% else %}../../../assets/images/people/_placeholder-avatar.svg{% endif %}" alt="{{ params.authorName }}" width="40" height="40">
            <div class="blog-post__author__details">
                <div class="blog-post__author-name">{{ params.authorName }}</div>
                <span class="blog-post__publish-date">{{ params.date | readableDate }}</span>
            </div>
        </div>
    </div>
</article>
{%- endmacro -%}
