{% set navPages = collections.docs | eleventyNavigation %}
{% macro renderNavListItem(entry) -%}
<li class="docs-index__item docs-index__item--top" {% if entry.children.length %}data-has-children="true"{% endif %}>
  <a href="{{ entry.url | url }}" {% if entry.url == page.url %} aria-current="true"{% endif %}>{{ entry.title }}</a>
{%- if entry.children.length -%}
  <ul>
    {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
  </ul>
{%- endif -%}
</li>
{%- endmacro %}

<nav class="docs-index">
    <ul class="docs-index__list">
    {%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
    </ul>
</nav>
