<!--
    Parameters:
        image
        name
        amount
        date
-->

{%- macro donationItem(params) -%}
{% set fallback_image = '/assets/images/people/_placeholder-avatar.svg' %}
<div class="donation">
    <img class="donation__sponsor-logo" src="{{ params.image if params.image else fallback_image }}" width="40" height="40" alt="{{ params.name }}" onerror="this.src = '{{fallback_image}}'" loading="lazy">

    <div class="donation__content">
        <p class="donation__sponsor-name">{{ params.name }}</p>
        <p class="donation__date">{{ params.date }}</p>
    </div>

    <div class="donation__amount">
        + {{ params.amount }}
    </div>
</div>
{%- endmacro -%}
