<section class="faqs section">
    <div class="content-container grid">
        <div class="span-1-4">
            <h2 class="section-title" id="faqs-section-label">Frequently Asked Questions</h2>
            <p class="section-supporting-text">
                Everything you need to know about the product and billing. Can’t find the answer you’re looking for? Please chat to our friendly team.
            </p>
        </div>
        <div class="span-6-12">
            <div data-accordion class="c-accordion">
                {%- for item in faqs.items -%}
                <h3 data-accordion-heading class="c-accordion__heading">{{ item.q }}</h3>
                <div data-accordion-panel class="c-accordion__panel">{{ item.a | safe }}
                </div>
                {% endfor -%}
            </div>
        </div>
    </div>
</section>
