<div class="anim">
 <div class="anim__cursorCont" aria-hidden="true"><div class="anim__cursorDOM"></div></div>
 <h1 class="section-title h0 anim__title" aria-hidden="true">
  <span class="anim__word">Find</span>
  <span class="anim__word">and</span>
  <span class="anim__word">fix</span>
  <span class="anim__word anim__problems">
      <span class="anim__text">problems</span>
      <svg viewBox="0 0 618 400" preserveAspectRatio="xMidYMid meet" class="anim__svg">
          <image class="anim__dropdown" width="618px" href="/assets/images/dropdown.png" preserveAspectRatio="xMidYMid meet" />
          <circle class="anim__cursorSVG" cx="280" cy="320" r="60" opacity="0" />
      </svg>
  </span>
  <span class="anim__word">in</span>
  <span class="anim__word">your</span>
  <span class="anim__word">JavaScript</span>
  <span class="anim__word">code</span>
 </h1>
</div>
