<div class="anim">
  <div class="anim__cursorCont" aria-hidden="true">
    <div class="anim__cursor anim__cursor--start"></div>
  </div>
  <h1 class="section-title h0 anim__title" aria-hidden="true">
    <span class="anim__word">Find</span>
    <span class="anim__word">and</span>
    <span class="anim__word">fix</span>
    <span class="anim__word anim__problems">
      <span class="anim__text">problems</span>
      <div class="anim__dropdown">
        <img class="anim__dropdown-img anim__dropdown-img--dark" src="/assets/images/dropdown--dark.png" alt="" />
        <img class="anim__dropdown-img anim__dropdown-img--light" src="/assets/images/dropdown--light.png" alt="" />
        <div class="anim__cursor anim__cursor--end"></div>
      </div>
    </span>
    <span class="anim__word">in</span>
    <span class="anim__word">your</span>
    <span class="anim__word">JavaScript</span>
    <span class="anim__word">code</span>
  </h1>
</div>
