<div class="language-switcher">
    <a href="/languages/" class="switcher-fallback">{{ site.footer.language_switcher.change_language }}</a>
    <div hidden role="region" class="switcher switcher--language" aria-labelledby="language-switcher-label" id="language-switcher">
        <span id="language-switcher-label" hidden>{{ site.footer.language_switcher.title }}</span>
        <div class="infobox visually-hidden" id="language-infobox">
            {{ site.footer.language_switcher.description }}
        </div>

        <label class="switcher__label" for="language-select">
            <span class="label__text">
                {{ site.footer.language_switcher.language }}
            </span>
        </label>
        <select name="language selector" id="language-select" aria-describedby="language-infobox" class="c-custom-select switcher__select">
            {% for language in languages.items %}
            <option value="{{ language.code }}"
                    data-url="{{ language.url }}"
                    {% if config.lang == language.code %} selected {% endif %}>
                {{ language.flag }} {{ language.name }}
            </option>
            {% endfor %}
        </select>
    </div>
</div>
