<nav class="site-nav" aria-label="Main">
    <div class="flexer">
        <a href="/donate/" class="c-btn c-btn--primary donate-link">Donate</a>
        <button class="site-nav-toggle" aria-label="Menu" id="nav-toggle" hidden>
            <svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 7H19M1 1H19M1 13H19" stroke="#101828" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </button>
    </div>
    <ul id="nav-list">
        {% for item in navigation.items %}
        <li>
            <a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url,
            page.url) | safe }}>{{ item.text }}</a>
        </li>
        {% endfor %}
    </ul>
</nav>
