<nav class="c-pagination" aria-labelledby="pagination-label">
    <h2 id="pagination-label" hidden>Pagination</h2>

    {%- for pageEntry in pagination.pages %}
    {% if page.url == pagination.hrefs[ loop.index0 ] %}
    <span class="c-pagination__current">Page {{ loop.index }} of {{ loop.length }}</span>
    {% endif %}
    {%- endfor %}
        {% if pagination.href.previous %}
            <a class="c-pagination__item" href="{{ pagination.href.previous }}">Previous</a>
            {% else %}
            <a role="link" aria-disabled="true">Previous</a>
        {% endif %}
        {% if page.url != pagination.href.first %}
            <a class="c-pagination__item" href="{{ pagination.href.first }}">First</a>
            {% else %}
            <a role="link" aria-disabled="true">First</a>
        {% endif %}
        {% if pagination.href.next %}
            <a class="c-pagination__item" href="{{ pagination.href.next }}">Next</a>
            {% else %}<a role="link" aria-disabled="true">Next</a>
        {% endif %}
        {% if page.url != pagination.href.last %}
            <a class="c-pagination__item" href="{{ pagination.href.last }}">Last</a>
            {% else %}
            <a role="link" aria-disabled="true">Last</a>
        {% endif %}
</nav>
