{%- macro extends() -%}
<div class="rules-category">
    <span class="rules-category__icon">✅</span>
    <p class="rules-category__description">
        if the <code>"extends": "eslint:recommended"</code> property in a configuration file enables the rule.
    </p>

</div>
{%- endmacro -%}

{%- macro fix() -%}
<div class="rules-category">
    <span class="rules-category__icon">🛠</span>
    <p class="rules-category__description">
        if some problems reported by the rule are automatically fixable by the <code>--fix</code> command line option
    </p>

</div>
{%- endmacro -%}

{%- macro suggestions() -%}
<div class="rules-category">
    <span class="rules-category__icon">💡</span>
    <p class="rules-category__description">
        if some problems reported by the rule are manually fixable by editor suggestions
    </p>

</div>
{%- endmacro -%}
