<a href="/versions/" class="switcher-fallback">Versions</a>

<div hidden role="region" class="switcher switcher--language" aria-labelledby="version-switcher-label" id="version-switcher">
    <span id="version-switcher-label" hidden>Language Switcher</span>
    <div class="infobox visually-hidden" id="version-infobox">
        Selecting a language will take you to the ESLint Web site in that language.
    </div>

    <label class="switcher__label" for="version-select">
        Version
    </label>
    <select name="version selector" id="version-select" aria-describedby="version-infobox" class="c-custom-select switcher__select auto-switcher">
        {% for version in versions.items %}
        <option value="{{ version.number }}"
                data-url="{{ version.url }}"
                {% if config.version == version.number %} selected {% endif %}>
            v{{ version.number }}
        </option>
        {% endfor %}
    </select>
</div>
