{
	"useTabs": true,
	"tabWidth": 4,
	"arrowParens": "avoid",
	"trailingComma": "none",
	"overrides": [
		{
			"files": ["*.json"],
			"options": {
				"tabWidth": 2,
				"useTabs": false
			}
		}
	]
}
