.site-nav {
  display: flex;
  flex-direction: column;
  flex: 1;
  grid-column: 1 / -1;
  grid-row: 1; }
  .site-nav ul {
    list-style: none;
    font-size: var(--step-1);
    margin-top: 1rem; }
    @media all and (min-width: 768px) {
      .site-nav ul {
        font-size: var(--step-0); } }
  .site-nav .flexer {
    display: flex;
    justify-self: flex-end;
    align-self: flex-end; }
  .site-nav a[data-current="true"] {
    color: var(--color-brand);
    text-decoration: underline; }

.site-nav-toggle {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin-left: .5rem; }
  @media all and (min-width: 640px) {
    .site-nav-toggle {
      display: none; } }

@media all and (min-width: 640px) {
  .site-nav {
    flex-direction: row;
    grid-column: auto;
    gap: 2rem; }
    .site-nav ul {
      display: flex;
      gap: 2rem;
      font-size: var(--step-0); }
    .site-nav .flexer {
      order: 1; } }
