nav.c-pagination {
  display: flex; }
  nav.c-pagination svg {
    color: inherit; }
  nav.c-pagination a {
    color: var(--headings-color);
    text-decoration: none; }

.c-pagination__item {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: .5rem .875rem;
  display: inline-flex;
  align-items: center;
  justify-content: center; }
