.rules-categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem; }
  .rules-categories .rules-category {
    margin: 0; }
  .rules-categories .rules-category__description {
    flex: 1 1 60ch; }

.rules-category {
  font-size: var(--step--1);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
  margin: 1.5rem 0;
  border-radius: var(--border-radius);
  background-color: var(--lightest-background-color); }
  .rules-category p {
    margin: 0; }
