.eslint-social-icons {
  display: inline-flex; }
  .eslint-social-icons ul {
    margin: 0;
    padding: 0;
    margin-left: -1rem;
    margin-inline-start: -1rem; }
    .eslint-social-icons ul li {
      margin: 0;
      display: inline-flex;
      align-items: center; }
      .eslint-social-icons ul li a {
        display: flex;
        padding: 1rem; }
