button[aria-pressed="true"] .c-icon {
  color: var(--link-color); }

button[aria-pressed="false"] .c-icon {
  color: var(--icon-color); }

.theme-switcher__button:hover .c-icon {
  color: var(--link-color); }
