.resource {
    display: flex;
    border-radius: var(--border-radius);
    border: 1px solid var(--divider-color);
    background-color: var(--lightest-background-color);
    align-items: stretch;
    overflow: hidden;
}

.resource__image {
    flex: 1 1 25%;
    // max-width: 75px;
    // height: 100%;
    overflow: hidden;

    img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.resource__content {
    flex: 1;
    padding: .75rem;
    align-self: center;
}

.resource__title {
    text-decoration: none;
    color: var(--headings-color);
    font-weight: 500;
    margin-bottom: .125rem;
}

.resource__domain {
    color: var(--body-text-color);
    font-size: .875rem;
}

.resource__icon {
    color: var(--headings-color);
    margin: 1rem;
    align-self: center;
}
