.hero .grid {
	width: 100%;

	@media all and (min-width: 800px) {
		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-gap: 2rem;
		align-items: center;
	}

	.span-1-7 {
		grid-column: 1 / 2;
	}

	.span-10-12 {
		grid-column: 2 / 3;
		justify-self: end;
	}
}

.hero {
	border-bottom: 1px solid var(--divider-color);
	border-block-end: 1px solid var(--divider-color);
	background-color: var(--hero-background-color);

	@media all and (min-width: 800px) {
		align-items: center;
		display: flex;

		// Just enough height to be be slightly taller than the ad
		min-height: 335px;
	}

	.content-container {
		padding: var(--space-xl-2xl) 0 var(--space-l);
		margin: 0;
	}

	> .content-container {
		margin: 0 auto;
		padding: 0 calc(1rem + 1vw);
		padding-bottom: 0;
	}
}

.hero--homepage {
	.section-title {
		margin-bottom: 1.5rem;
		margin-block-end: 1.5rem;
	}

	.section-supporting-text {
		margin: 0;
		font-size: var(--step-1);
		text-align: left;
	}

	.eslint-actions {
		font-size: var(--step-1);
		margin-top: 3rem;
		margin-block-start: 3rem;
	}
}
