.language-switcher {
    display: inline-flex;
    position: relative;
    min-width: 13rem;
    padding: 0;
}

.language-switcher__toggle {
    color: inherit;
    width: 100%;

    &:hover {
        border-color: var(--border-color);
        color: var(--headings-color);
    }
}


.language-switcher__dropdown {
    padding: 1.25rem 1.125rem .75rem;
    z-index: 1;
    text-align: left;
    background-color: var(--body-background-color);
    border: 1px solid var(--border-color);
    border-top: none;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    margin-top: -.5rem;
}

.language-switcher__toggle[aria-expanded="true"]+.language-switcher__dropdown {
    position: absolute;
    top: 100%;
    width: 100%;
}

 .languages-list {
     margin: 0;
     padding: 0;

     a {
         color: inherit;
         display: block;
         width: 100%;
         padding: .25rem .1rem;
         text-decoration: none;

         &:hover {
             color: var(--link-color);
         }
     }
 }
