// PERSON

.profile {
	position: relative;
}

.profile--contributor {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: start;
	gap: 0.75rem;
}

// bottom of blog post
.profile--author {
	margin-bottom: 3rem;
	margin-block-end: 3rem;

	@media all and (min-width: 680px) {
		display: grid;
		grid-template-columns: 1fr 2fr;
		grid-gap: 3rem;
	}
}

.profile--author__details {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: start;
	gap: 0.75rem;
}

.profile__photo {
	display: block;
	border-radius: 50%;
	object-fit: cover;
	flex: none;
	max-width: initial;
	margin-bottom: 0.875rem;
	margin-block-end: 0.875rem;

	&.profile__photo--large {
		width: 5rem;
		height: 5rem;
		margin-bottom: 1.25rem;
		margin-block-end: 1.25rem;
	}

	&.profile__photo--medium {
		width: 3.5rem;
		height: 3.5rem;
	}

	&.profile__photo--small {
		width: 3rem;
		height: 3rem;
	}

	/* contributor in the post sidebar */
	.post__sidebar-module & {
		width: 3rem;
		height: 3rem;
	}
}

.profile__bio {
	a {
		&:hover {
			color: var(--link-color);
		}
	}
}

.profile__name {
	font-weight: 500;
	color: var(--headings-color);
	font-size: 1.125rem;

	.post & {
		font-size: var(--step-0);
	}
}

.profile__handle {
	text-decoration: none;
	color: var(--link-color);
	display: block;
	margin-bottom: 0.5rem;
	margin-block-end: 0.5rem;

	.post & {
		color: inherit;

		&:hover {
			color: var(--link-color);
		}
	}

	.post__sidebar-module & {
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			offset-block-start: 0;
			offset-block-end: 0;
			offset-inline-start: 0;
			offset-inline-end: 0;
		}
	}
}

.profile__title {
	display: block;
	margin-bottom: 0.5rem;
	margin-block-end: 0.5rem;
}

.profile__social-links {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		gap: 1rem;
	}
}

/* team page */
.people-list {
	display: grid;
	grid-gap: 3rem 2rem;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
