.eslint-social-icons {
    display: inline-flex;

    ul {
        margin: 0;
        padding: 0;
        margin-left: -1rem;

        li {
            margin: 0;
            display: inline-flex;
            align-items: center;

            a {
                display: flex;
                padding: 1rem;
            }
        }
    }
}
