
.theme-switcher {
    display: inline-flex;
    align-items: center;
    gap: .5rem;
}

.theme-switcher__buttons {
    display: flex;
    gap: .25rem;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: var(--body-background-color);
}

.theme-switcher__button {
    flex: 0;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-xs);
    // border: 1px solid var(--border-color);
    padding: .625rem .875rem;
    display: inline-flex;
    align-items: center;
    margin: 0;
    width: 40px;
    height: 40px;

    .theme-switcher__icon {
        color: var(--icon-color);
    }
    &:hover {
        .theme-switcher__icon {
            color: var(--link-color);
        }
    }
}

.theme-switcher__button[aria-pressed="true"] {
    .theme-switcher__icon {
        color: var(--link-color);
    }
    &:hover {
        .theme-switcher__icon {
            color: var(--link-color);
        }
    }
}

.theme-switcher__button[aria-pressed="false"] {
    .theme-switcher__icon {
        color: var(--icon-color);
    }
    &:hover {
        .theme-switcher__icon {
            color: var(--link-color);
        }
    }
}

.theme-switcher__button:hover {
    .theme-switcher__icon {
        color: var(--link-color);
    }
}
