.versions-list {
    margin: 0;
    padding: 0;
    font-size: var(--step-1);

    li {
        margin: 0;

        &:last-of-type a {
            border-bottom: 0;
        }
    }

    a {
        color: var(--link-color);
        display: block;
        width: 100%;
        padding: 1rem .5rem;
        text-decoration: none;
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--divider-color);

        // &[data-current="true"] {
        //     font-weight: 500;
        //     color: var(--link-color);
        // }

        &:hover {
            background-color: var(--lightest-background-color);
        }
    }
}

.versions-section .versions-list {
    font-size: var(--step-1);
    border-left: 4px solid var(--tab-border-color);
    padding-left: 1rem;
}
