---
layout: layouts/base.html
hook: "blog-post-page"
---

{% include "partials/header.html" %}


<!--
<div class="content-container">
    <aside>
        <h2>Table of Contents:</h2>
        {{ content | toc | safe }}
    </aside>
</div> -->

<main id="main" tabindex="-1">
    <div class="section hero">
        <div class="content-container">
            <div>
                <h1 class="section-title h2">ESLint v8.0.0-beta.2 released</h1>
                <p class="section-supporting-text">
                    We just pushed ESLint v8.0.0-beta.2, which is a major release upgrade of ESLint. This release adds some new features and fixes several bugs found in the previous release. This release also has some breaking changes, so please read the following closely.
                </p>
            </div>
        </div>
    </div>
    <div class="content-container">

        {{ content | safe }}

    </div>
</main>

{% include "partials/footer.html" %}
