---
layout: base.html
---
{% include "partials/header.html" %}
{%- from 'components/hero.html' import hero %}


<main id="main" tabindex="-1">

    {{ hero({
        title: "News and Updates",
        supporting_text: "The latest ESLint news, case studies, tutorials, and resources."
    }) }}

    <div class="content-container grid">
        <aside class="span-1-3">
            <!-- <form action="" role="search">

            </form> -->

            {% include 'partials/blog-categories.html' %}
        </aside>

        <div class="span-4-12">
            {{ content | safe }}
        </div>
        <div class="span-4-12">
            {% include "partials/blog-pagination.html" %}
        </div>
    </div>

</main>

{% include "partials/footer.html" %}
