---
layout: base.html
---
{% include "partials/header.html" %}
{%- from 'components/hero.macro.html' import hero %}

<main id="main" tabindex="-1">
    {{ hero({
        title: "Resources and insights",
        supporting_text: "The latest industry news, interviews, technologies, and resources."
    }) }}

    <div class="content-container grid">
        <aside class="span-1-3">
            <!-- <form action="" role="search">

            </form> -->

            {% include 'partials/blog-categories.html' %}
        </aside>

        <div class="span-4-12">
            {{ content | safe }}
        </div>
        <div class="span-4-12">
        {% include "partials/categories-pagination.html" %}
    </div>
    </div>

</main>

{% include "partials/footer.html" %}
