---
layout: base.html
---
{% include "partials/header.html" %}
{%- from 'components/hero.macro.html' import hero %}

<main id="main" tabindex="-1">
    {{ hero({
        title: site.blog_page.title,
        supporting_text: site.blog_page.description,
        ad: {
            carbonAds: site.carbon_ads.serve,
            placement: site.carbon_ads.placement,
            ethicalAds: site.ethical_ads
        }
    }) }}

    <div class="content-container grid">
        <aside class="span-1-3">
            <!-- <form action="" role="search">

            </form> -->

            {% include 'partials/blog-categories.html' %}
        </aside>

        <div class="span-4-12">
            {{ content | safe }}
        </div>
        <div class="span-4-12">
        {% include "partials/categories-pagination.html" %}
    </div>
    </div>

</main>

{% include "partials/footer.html" %}
