---
layout: layouts/base.html
hook: "entry chapter"
---

{% include "partials/header.html" %}

{% include "macros/video.html" %}


<div class="main-wrapper">
    <aside>
        <h2>Table of Contents:</h2>
        {{ content | toc | safe }}
    </aside>


<main id="main" tabindex="-1">
    {% include "macros/chapters-breadcrumbs.html" %}
    <h1> {{ title }} </h1>

    {{ content | safe }}

    <footer class="c-post-pagination">
        {%- if collections.chapters %}
        {%- set nextChapter = collections.chapters | sortByPageOrder | getNextCollectionItem(page) %}
        {%- set previousChapter = collections.chapters | sortByPageOrder | getPreviousCollectionItem(page) %}
        {%- if nextChapter or previousChapter %}
            <ul>
                {%- if previousChapter %}<li>Previous: <a href="{{ previousChapter.url | url }}" class="previous">{{ previousChapter.data.title }}</a></li>{% endif %}
                {%- if nextChapter %}<li>Next: <a href="{{ nextChapter.url | url }}" class="next">{{ nextChapter.data.title }}</a></li>{% endif %}
            </ul>
            {%- endif %}
        {%- endif %}
    </footer>
</main>
</div>
{% include "partials/footer.html" %}
