---
layout: base.html
---

{% include "partials/header.html" %}

<div class="docs-wrapper grid">
    <div class="docs-left-sidebar">
        {% include 'components/search.html' %}
        {% include 'partials/docs-index.html' %}
    </div>

    <div class="docs-content">
        <div class="docs-right-sidebar">
            {% include 'components/docs-toc.html' %}
        </div>

        <main id="main" tabindex="-1" class="docs-main">
            {{ content | safe }}
        </main>

        {% include "partials/docs-footer.html" %}
    </div>
</div>
