---
layout: base.html
hook: "post blog-post-page"
---

{% include "partials/header.html" %}

<main id="main" tabindex="-1">
    <div class="section hero">
        <div class="content-container grid">
            <div class="span-1-7">
                <p class="post__meta">Published {{ page.date | readableDate }} under <a href="/blog/category/{{ categories[0] | slugify }}">{{ categories  }}</a></p>
                <h1 class="section-title">{{title}}</h1>
                <p class="section-supporting-text">
                    {{teaser}}
                </p>
            </div>
            <div class="span-11-12">
            carbon ad here
        </div>
        </div>
    </div>
    <div class="content-container grid">
        <aside class="span-1-3">
            <div class="post__sidebar-module divider">
                <h2 class="post__sidebar-module__title">Contributors</h2>
            </div>
            <div class="post__sidebar-module divider">
                {% if tags %}
                <h2 class="post__sidebar-module__title">Tags</h2>
                <ul role="list" class="tag-list">
                    {% for tag in tags %}
                    <li class="tag-list__item">{{ tag }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

            <div class="post__sidebar-module divider">
                <h2 class="post__sidebar-module__title">Share</h2>
                {% include "components/post-share.html" %}
            </div>

            <div class="post__sidebar-module">
                <h2 class="post__sidebar-module__title">Source</h2>
            </div>

        </aside>
        <div class="span-4-11">
            {{ content | safe }}
        </div>

    </div>
</main>

{% include "partials/from-the-blog.html" %}

{% include "partials/footer.html" %}
