---
layout: base.html
hook: "blog-post-page"
---

{% include "partials/header.html" %}

<main id="main" tabindex="-1">
    <div class="section hero">
        <div class="content-container grid">
            <div class="span-1-7">
                <p class="post__meta">Published {{ page.date | readableDate }} under <a href="/blog/category/{{ categories | slugify }}">{{ categories  }}</a></p>
                <h1 class="section-title h2">{{title}}</h1>
                <p class="section-supporting-text">
                    {{teaser}}
                </p>
            </div>
            <div class="span-11-12">
            carbon ad here
        </div>
        </div>
    </div>
    <div class="content-container">

        {{ content | safe }}

    </div>
</main>

{% include "partials/from-the-blog.html" %}

{% include "partials/footer.html" %}
