---
layout: base.html
hook: "post blog-post-page"
---

{% include "partials/header.html" %}

{%- from 'components/person.macro.html' import member, contributor, postAuthor %}

<main id="main" tabindex="-1">
    <div class="section hero">
        <div class="content-container grid">
            <div class="span-1-7">
                <p class="post__meta">Published {{ page.date | readableDate }} under <a href="/blog/category/{{ categories[0] | slugify }}">{{ categories  }}</a></p>
                <h1 class="section-title">{{ title }}</h1>
                <p class="section-supporting-text">
                    {{ teaser }}
                </p>
            </div>
            <div class="span-11-12">
                carbon ad here
            </div>
        </div>
    </div>

    <div class="content-container grid">

        <div class="span-5-12">
            {{ content | safe }}
        </div>

        <div class="post__author-bios span-5-12">
            {% for author in authors %}
                {{ postAuthor({
                    photo: all_authors[author].avatar_url,
                    name: all_authors[author].name,
                    title: "Creator of ESLint",
                    handle: all_authors[author].username,
                    github: all_authors[author].github_username,
                    twitter: all_authors[author].twitter_username,
                    bio: all_authors[author].bio
                }) }}
            {% endfor %}
        </div>

        {% include 'partials/post-sidebar.html' %}

    </div>
</main>

{% include "partials/from-the-blog.html" %}

{% include "partials/footer.html" %}
