---
title: Blog
layout: main.html
hook: "blog-page"
permalink: 'blog{% if pagination.pageNumber > 0 %}/page/{{ pagination.pageNumber }}{% endif %}/index.html'

pagination:
    alias: blogPosts
    data: collections.blog
    size: 9
---

<div class="section hero">
    <div class="content-container grid">
        <div class="span-1-7">
            <h1 class="section-title h2">Resources and insights</h1>
            <p class="section-supporting-text">
                The latest industry news, interviews, technologies, and resources.
            </p>
        </div>
        <div class="span-11-12">
            carbon ad here
        </div>
    </div>
</div>

<div class="content-container grid">
    <aside class="span-1-3">
        <!-- <form action="" role="search">

        </form> -->

        <nav aria-labelledby="blog-categories-nav-label" class="categories">
            <h2 class="categories__title" id="blog-categories-nav-label">Blog categories</h2>
            <ul role="list" class="categories__list">
                <li class="categories__list__item"><a href="" aria-current="page">Everything</a></li>
                <li class="categories__list__item"><a href="">Release Notes</a></li>
                <li class="categories__list__item"><a href="">Roadmap</a></li>
                <li class="categories__list__item"><a href="">Sponsors</a></li>
                <li class="categories__list__item"><a href="">Technical Notes</a></li>
                <li class="categories__list__item"><a href="">Guest Posts</a></li>
            </ul>
        </nav>
    </aside>

    <div class="span-4-12">
        <div class="blog-posts">
            {% set postItems = pagination.items %}
            {% for item in postItems %}

            <!-- temporary until I can go through an update all the posts-->
            {% set author = item.data.author %}
            {% if not author %}
            {% set author = item.data.authors[0] %}
            {% endif %}

            <article class='card blog-post {%- if item.data.featured == "true" -%} card--featured {%- endif -%}'>
                <a href="{{ item.url }}" class="card__cover">
                    <img src="../../assets/images/{%- if item.data.cover -%}{{ item.data.cover }}{%- else -%}cover.png{%- endif -%}" width="420" height="240" alt="{{ item.data.coverAlt }}" />
                </a>
                <div class="card__content">
                    <div class="badge-group">
                            <span class="blog-post__category">
                                <span class="visually-hidden">Published under:</span> {{ item.data.categories }}
                            </span>
                            <span class="blog-post__reading-time">
                                {{ item.templateContent | readingTime }} read
                            </span>
                        </div>

                    <h3 class="card__title">
                        <a href="{{ item.url }}">{{ item.data.title }}</a>
                    </h3>
                    <p class="card__teaser">
                        {{ item.data.teaser }}
                    </p>
                    <div class="card__footer">
                        <img class="blog-post__author-photo" src="{{ authors[author].avatar_url }}" alt="{{ authors[author].name }}">
                        <div class="blog-post__author__details">
                            <div class="blog-post__author-name">{{ authors[author].name }}</div>
                            <span class="blog-post__publish-date">{{ item.date | readableDate }}</span>
                        </div>
                    </div>
                </div>
            </article>

            {% endfor %}
        </div>
    </div>
</div>


{% include "components/pagination.html" %}
