---
title: Blog
layout: blog.html
hook: "blog-page"
permalink: 'blog{% if pagination.pageNumber > 0 %}/page/{{ pagination.pageNumber }}{% endif %}/index.html'

pagination:
    alias: blogPosts
    data: collections.blogposts
    size: 9
---

{%- from 'components/card.macro.html' import card %}


<div class="blog-posts">
    {% set postItems = pagination.items %}
    {% for item in postItems %}


    <!-- temporary until I can go through an update all the posts-->
    {% set author = item.data.author %}
    {% if not author %}
    {% set author = item.data.authors[0] %}
    {% endif %}


    {% set author_image = all_authors[author].avatar_url %}
    {% set author_name = all_authors[author].name %}
    {% set reading_time = item.templateContent | readingTime %}

    {{ card({
                postAuthor: author,
                authorImage: author_image,
                authorName: author_name,
                featured: item.data.featured,
                url: item.url,
                image: item.data.image,
                category: item.data.categories[0],
                title: item.data.title,
                readingTime: reading_time,
                teaser: item.data.teaser,
                date: item.date
            }) }}
    {% endfor %}
</div>
