---
title: Blog
layout: layouts/main.html
hook: "blog-page"
permalink: 'blog{% if pagination.pageNumber > 0 %}/page/{{ pagination.pageNumber }}{% endif %}/index.html'

pagination:
    alias: blogPosts
    data: collections.blog
    size: 9
---

<div class="section hero">
    <div class="content-container grid">
        <div class="span-1-7">
            <h1 class="section-title h2">Resources and insights</h1>
            <p class="section-supporting-text">
                The latest industry news, interviews, technologies, and resources.
            </p>
        </div>
        <div class="span-11-12">
            carbon ad here
        </div>
    </div>
</div>

<!-- <form action="" role="search">

</form> -->

<!-- <nav aria-labelledby="blog-categories-nav-label">
    <h2 class="h6" id="blog-categories-nav-label">Blog categories</h2>
</nav> -->

<div class="content-container">
    <section aria-labelledby="blog-posts-label" class="blog-posts">
        <span id="blog-posts-label" hidden>Blog posts</span>
        {% set postItems = pagination.items %}
        {% for item in postItems %}

        <article class='card blog-post {%- if item.data.featured == "true" -%} card--featured {%- endif -%}'>
            <a href="{{ item.url }}" class="card__cover">
                <img src="../../assets/images/{%- if item.data.cover -%}{{ item.data.cover }}{%- else -%}cover.png{%- endif -%}" width="420" height="240" alt="{{ item.data.coverAlt }}" />
            </a>
            <div class="card__content">
                <div class="badge-group">
                        <span class="blog-post__category">
                            <span class="visually-hidden">Published under:</span> {{ item.data.category }}
                        </span>
                        <span class="blog-post__reading-time">
                            {{ item.templateContent | readingTime }} read
                        </span>
                    </div>

                <h3 class="card__title">
                    <a href="{{ item.url }}">{{ item.data.title }}</a>
                </h3>
                <p class="card__teaser">
                    {{ item.data.teaser }}
                </p>
                <div class="card__footer">
                    <img class="blog-post__author-photo" src="../../assets/images/people/{{ item.data.authorImage }}" alt="{{ item.data.author }}">
                    <div class="blog-post__author__details">
                        <div class="blog-post__author-name">{{ item.data.author }}</div>
                        <span class="blog-post__publish-date">{{ item.data.date | readableDate }}</span>
                    </div>
                </div>
            </div>
        </article>

        {% endfor %}
    </section>
</div>


{% include "components/pagination.html" %}
