---
permalink: /search.json
eleventyExcludeFromCollections: true
---
{% set comma = joiner() %}
{"search" : [
{%- for item in collections.allContent -%}
    {{ comma() }}
  {
    "url" : "{{ item.url }}",
    "title" : "{{ item.data.title }}",
    "text" : "{{ (item.data.title + " " + item.templateContent) | squash }}"
  }
{%- endfor -%}
]}
