---
layout: main.html
title: Sponsors
permalink: /sponsors/
eleventyExcludeFromCollections: true
hook: "sponsors-page"
---

{%- from 'components/donation.macro.html' import donationItem %}
{%- from 'components/hero.html' import hero %}

{% set supporting_text = "BACKER_COUNT companies, organizations, and individuals are currently contributing MONTHLY_DONATIONS each
month to support ESLint's ongoing maintenance and development." %}
{% set monthly_donations = sponsors.totals.monthlyDonations | dollars %}
{% set supporting_text = supporting_text | replace("BACKER_COUNT", sponsors.totals.sponsorCount) | replace("MONTHLY_DONATIONS", monthly_donations) %}

{{ hero({
    title: title,
    supporting_text: supporting_text,
    buttons: {
        primary: {
            primaryText: "Become a sponsor",
            primaryURL: "/donate/"
        }
    }
}) }}

<section class="section">
    <div class="content-container grid grid--center-items">
        <div class="span-1-5">
            <h2 class="section-title h4">Platinum Sponsors</h2>
            <p>
                Become a platinum sponsor with a monthly donation of $2000 (providing 40 hours of maintenance and development) and get 2 hours of dedicated support (remote support available through chat or screen-sharing) per month as well as your Open Collective avatar image (large) on our README on GitHub and on the home page of eslint.org. We will also tweet a thank you from our Twitter account (over 20,000 followers). Please contact the ESLint team to schedule support sessions.
            </p>
        </div>
        <div class="span-7-12">
            <ul role="list" class="sponsors sponsors--platinum">
                {% for sponsor in sponsors.platinum %}                
                <li>
                    {% set sponsor_amount = sponsor.monthlyDonation / 100 %}
                    <a href="{{ sponsor.url | url }}" rel="nofollow noopener sponsored">
                        <img loading="lazy" decoding="async" src="{{ sponsor.image }}" height="128"
                            alt="{{ sponsor.name }} is donating {{ sponsor_amount | dollars }} each month"
                            title="{{ sponsor.name }} is donating {{ sponsor_amount | dollars }} each month" />
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="content-container grid grid--center-items">
        <div class="span-1-5">
            <h2 class="section-title h4">Gold Sponsors</h2>
            <p>
                Become a gold sponsor with a monthly donation of $1000 (providing 20 hours of maintenance and development) and get your Open Collective avatar image (large) on our README on GitHub and the front page of eslint.org. We will also tweet a thank you from our Twitter account (over 20,000 followers).
            </p>
        </div>
        <div class="span-7-12">
            <ul role="list" class="sponsors sponsors--gold">
                {% for sponsor in sponsors.gold %}
                <li>
                    {% set sponsor_amount = sponsor.monthlyDonation / 100 %}
                    <a href="{{ sponsor.url | url }}" rel="nofollow noopener sponsored">
                        <img loading="lazy" decoding="async" src="{{ sponsor.image }}" height="128"
                            alt="{{ sponsor.name }} is donating {{ sponsor_amount | dollars }} each month"
                            title="{{ sponsor.name }} is donating {{ sponsor_amount | dollars }} each month" />
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="content-container grid grid--center-items">
        <div class="span-1-5">
            <h2 class="section-title h4">Silver Sponsors</h2>
            <p>
                Become a silver sponsor with a monthly donation of $500 (providing 10 hours of maintenance and development) and get your Open Collective avatar image on our README on GitHub and the front page of eslint.org.
            </p>
        </div>
        <div class="span-7-12">
            <ul role="list" class="sponsors sponsors--silver">
                {% for sponsor in sponsors.silver %}
                <li>
                    {% set sponsor_amount = sponsor.monthlyDonation / 100 %}
                    <a href="{{ sponsor.url | url }}" rel="nofollow noopener sponsored">
                        <img loading="lazy" decoding="async" src="{{ sponsor.image }}" height="128"
                            alt="{{ sponsor.name }} is donating {{ sponsor_amount | dollars }} each month"
                            title="{{ sponsor.name }} is donating {{ sponsor_amount | dollars }} each month" />
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="content-container grid grid--center-items">
        <div class="span-1-5">
            <h2 class="section-title h4">Bronze Sponsors</h2>
            <p>
                Become a bronze sponsor with a monthly donation of $20 (providing four hours of maintenance and development) and get your Open Collective avatar image on our README on GitHub and the front page of eslint.org.
            </p>
        </div>
        <div class="span-7-12">
            <ul role="list" class="sponsors sponsors--bronze">
                {% for sponsor in sponsors.bronze %}
                <li>
                    {% set sponsor_amount = sponsor.monthlyDonation / 100 %}
                    <a href="{{ sponsor.url | url }}" rel="nofollow noopener sponsored">
                        <img loading="lazy" decoding="async" src="{{ sponsor.image }}" height="128"
                            alt="{{ sponsor.name }} is donating {{ sponsor_amount | dollars }} each month"
                            title="{{ sponsor.name }} is donating {{ sponsor_amount | dollars }} each month" />
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="content-container grid grid--center-items">
        <div class="span-1-5">
            <h2 class="section-title h4">Technology Sponsors</h2>
            <p>
                Technology sponsors allow us to use their products and services for free as part of a contribution to the open source ecosystem and our work.
            </p>
        </div>
        <div class="span-7-12">
            <ul role="list" class="sponsors sponsors--technology">

                {% for sponsor in techsponsors %}

                <li>
                    <a href="{{ sponsor.url | url }}" rel="nofollow noopener sponsored">
                        <img loading="lazy" decoding="async" src="{{ sponsor.image }}" alt="{{ sponsor.donation | capitalize }} provided by {{ sponsor.name }}" title="{{ sponsor.donation | capitalize }} provided by {{ sponsor.name }}" height="64"/>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>

<section id="donations">
    <div class="content-container divider">
        <div class="section-head center-text">
            <h2 class="section-title h3" id="donations-label">Recent one-time donations</h2>
            <p class="section-supporting-text fs-step-0">
                We also receive a lot of one-time contributions from fantastic people. Here are some recent ones from OpenCollective and GitHub.
            </p>
        </div>
        <ul role="list" class="donations-list focusable" role="region" tabindex="0" aria-labelledby="donations-label">

            {% for donation in donations | limitTo(50) %}
            <li class="donations-item">
                {% set donation_image = donation.image %}
                {% set donation_name = donation.name %}
                {% set donation_type = donation.type %}
                {% set donation_amount = donation.amount | dollars %}
                {% set donation_date = donation.date | readableDateFromISO %}

                {{ donationItem({
                        image: donation_image,
                        name: donation_name,
                        type: donation_type,
                        amount: donation_amount,
                        date: donation_date
                    }) }}
            </li>
            {% endfor %}
        </ul>
    </div>
</section>

<section>
    <div class="content-container divider">
        <div class="section-head center-text">
            <h2 class="section-title h3">All backers</h2>
            <p class="section-supporting-text fs-step-0">
                We have {{ sponsors.backers | length }} backers across our platforms. Thank you for supporting ESLint.
            </p>
        </div>
        <div class="grid">
            <ul role="list" class="sponsors span-1-12 sponsors--backers">
                {% for sponsor in sponsors.backers %}
                <li>
                    {% set sponsor_amount = sponsor.monthlyDonation / 100 %}
                    <a href="{{ sponsor.url | url }}" rel="nofollow noopener sponsored">
                        <img loading="lazy" decoding="async" src="{{ sponsor.image }}" height="48" width="48"
                            onerror="this.src = '/assets/images/people/_placeholder-avatar.svg'"
                            alt="{{ sponsor.name }} is donating {{ sponsor_amount | dollars }} each month"
                            title="{{ sponsor.name }} is donating {{ sponsor_amount | dollars }} each month" />
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
