---
layout: main.html
title: Meet our team — ESLint
permalink: /team/
hook: "team-page"
---

{%- from 'components/person.macro.html' import member, contributor %}

<section class="section hero">
    <div class="content-container grid">
        <div class="span-1-7 content-container">
            <h1 class="section-title">Meet our team</h1>
            <p class="section-supporting-text">
                These are the people who build and maintain ESLint.
            </p>
        </div>
        <div class="span-11-12">
                {% include "partials/carbon-ad.html" %}
        </div>
    </div>
</section>

<section class="section">
    <div class="content-container grid">
        <div class="span-1-4">
            <h2 class="section-title">Technical Steering Committee</h2>
            <p class="section-supporting-text">
                The people who manage releases, review feature requests, and meet regularly to ensure ESLint is properly maintained.
            </p>
        </div>
        <ul role="list" class="span-6-12 people-list">
            {% for item in team.tsc %}
                {% set itemPhoto = item.avatar_url %}
                {% set itemName = item.name %}
                {% set itemHandle = item.username %}


                {% set itemBio = item.bio | safe %}
                {% set itemTwitter = item.twitter_username %}
                {% set itemGitHub = item.github_username %}

                <li>
                    {{ member({
                        photo: itemPhoto,
                        name: itemName,
                        handle: itemHandle,
                        handleURL: itemHandleURL,
                        bio: itemBio,
                        twitter: itemTwitter,
                        github: itemGitHub
                    }) }}
                </li>
            {% endfor %}
        </ul>
    </div>
</section>

<section class="section">
    <div class="content-container grid">
        <div class="span-1-4">
            <h2 class="section-title">Reviewers</h2>
            <p class="section-supporting-text">
                The people who review and implement new features.
            </p>
        </div>
        <ul role="list" class="span-6-12 people-list">
            {% for item in team.reviewers %}
                {% set itemPhoto = item.avatar_url %}
                {% set itemName = item.name %}

                {% set itemHandle = item.username %}

                {% set itemBio = item.bio | safe %}
                {% set itemTwitter = item.twitter_username %}
                {% set itemGitHub = item.github_username %}

                <li>
                    {{ member({
                        photo: itemPhoto,
                        name: itemName,
                        handle: itemHandle,
                        handleURL: itemHandleURL,
                        bio: itemBio,
                        twitter: itemTwitter,
                        github: itemGitHub
                    }) }}
                </li>
            {% endfor %}
        </ul>
    </div>
</section>

<section class="section">
    <div class="content-container grid">
        <div class="span-1-4">
            <h2 class="section-title">Committers</h2>
            <p class="section-supporting-text">
                The people who review and fix bugs and help triage issues.
            </p>
        </div>
        <ul role="list" class="span-6-12 people-list">
            {% for item in team.committers %}
                {% set itemPhoto = item.avatar_url %}
                {% set itemName = item.name %}
                {% set itemHandle = item.username %}


                {% set itemBio = item.bio | safe %}
                {% set itemTwitter = item.twitter_username %}
                {% set itemGitHub = item.github_username %}

                <li>
                    {{ member({
                        photo: itemPhoto,
                        name: itemName,
                        handle: itemHandle,
                        handleURL: itemHandleURL,
                        bio: itemBio,
                        twitter: itemTwitter,
                        github: itemGitHub
                    }) }}
                </li>
            {% endfor %}
        </ul>
    </div>
</section>


<section class="section">
    <div class="content-container grid">
        <div class="span-1-4">
            <h2 class="section-title">Alumni</h2>
            <p class="section-supporting-text">
                Former TSC members and committers who previously helped maintain ESLint.
            </p>
        </div>
        <ul role="list" class="span-6-12 people-list">
            {% for item in team.alumni %}
                {% set itemPhoto = item.avatar_url %}
                {% set itemName = item.name %}
                {% set itemHandle = item.username %}



                <li>
                    {{ contributor({
                        photo: itemPhoto,
                        name: itemName,
                        handle: itemHandle,
                        handleURL: itemHandleURL
                    }) }}
                </li>
            {% endfor %}
        </ul>

    </div>
</section>
