---
layout: main.html
title: Meet our Team
permalink: /team/
hook: "team-page"
---

{%- from 'components/profile.macro.html' import member, contributor %}
{%- from 'components/hero.macro.html' import hero %}


{{ hero({
    title: site.team_page.title,
    supporting_text: site.team_page.description
}) }}

<section class="section">
    <div class="content-container grid">
        <div class="span-1-4">
            <h2 class="section-title">{{ site.team_page.tsc.title }}</h2>
            <p class="section-supporting-text">
                {{ site.team_page.tsc.description }}
            </p>
        </div>
        <ul role="list" class="span-6-12 people-list">
            {% for item in team.tsc %}
                {% set itemPhoto = item.avatar_url %}
                {% set itemName = item.name %}
                {% set itemHandle = item.username %}


                {% set itemBio = item.bio | safe %}
                {% set itemTwitter = item.twitter_username %}
                {% set itemGitHub = item.github_username %}

                <li>
                    {{ member({
                        photo: itemPhoto,
                        name: itemName,
                        handle: itemHandle,
                        handleURL: itemHandleURL,
                        bio: itemBio,
                        twitter: itemTwitter,
                        github: itemGitHub
                    }) }}
                </li>
            {% endfor %}
        </ul>
    </div>
</section>

<section class="section">
    <div class="content-container grid">
        <div class="span-1-4">
            <h2 class="section-title">{{ site.team_page.reviewers.title }}</h2>
            <p class="section-supporting-text">
                {{ site.team_page.reviewers.description }}
            </p>
        </div>
        <ul role="list" class="span-6-12 people-list">
            {% for item in team.reviewers %}
                {% set itemPhoto = item.avatar_url %}
                {% set itemName = item.name %}

                {% set itemHandle = item.username %}

                {% set itemBio = item.bio | safe %}
                {% set itemTwitter = item.twitter_username %}
                {% set itemGitHub = item.github_username %}

                <li>
                    {{ member({
                        photo: itemPhoto,
                        name: itemName,
                        handle: itemHandle,
                        handleURL: itemHandleURL,
                        bio: itemBio,
                        twitter: itemTwitter,
                        github: itemGitHub
                    }) }}
                </li>
            {% endfor %}
        </ul>
    </div>
</section>

<section class="section">
    <div class="content-container grid">
        <div class="span-1-4">
            <h2 class="section-title">{{ site.team_page.committers.title }}</h2>
            <p class="section-supporting-text">
                {{ site.team_page.committers.description }}
            </p>
        </div>
        <ul role="list" class="span-6-12 people-list">
            {% for item in team.committers %}
                {% set itemPhoto = item.avatar_url %}
                {% set itemName = item.name %}
                {% set itemHandle = item.username %}


                {% set itemBio = item.bio | safe %}
                {% set itemTwitter = item.twitter_username %}
                {% set itemGitHub = item.github_username %}

                <li>
                    {{ member({
                        photo: itemPhoto,
                        name: itemName,
                        handle: itemHandle,
                        handleURL: itemHandleURL,
                        bio: itemBio,
                        twitter: itemTwitter,
                        github: itemGitHub
                    }) }}
                </li>
            {% endfor %}
        </ul>
    </div>
</section>


<section class="section">
    <div class="content-container grid">
        <div class="span-1-4">
            <h2 class="section-title">{{ site.team_page.alumni.title }}</h2>
            <p class="section-supporting-text">
                {{ site.team_page.alumni.description }}
            </p>
        </div>
        <ul role="list" class="span-6-12 people-list">
            {% for item in team.alumni %}
                {% set itemPhoto = item.avatar_url %}
                {% set itemName = item.name %}
                {% set itemHandle = item.username %}



                <li>
                    {{ contributor({
                        photo: itemPhoto,
                        name: itemName,
                        handle: itemHandle,
                        handleURL: itemHandleURL
                    }) }}
                </li>
            {% endfor %}
        </ul>

    </div>
</section>
