---
import { site } from "../data/index.js";
---
<div data-accordion class="c-accordion">
    {site.donate_page.faq.items.map((item) => (
        <>
            <h3 data-accordion-heading class="c-accordion__heading">{item.q}</h3>
            <div data-accordion-panel class="c-accordion__panel"><Fragment set:html={item.a} /></div>
        </>
    ))}
</div>
