:root {
	// elevations
	--shadow-lg: 0 12px 16px -4px rgba(16, 24, 40, 0.1),
		0 4px 6px -2px rgba(16, 24, 40, 0.05);
	--shadow-xs: 0 1px 2px rgba(16, 24, 40, 0.05);

	--border-radius: 0.5rem;
}

@media (prefers-color-scheme: "dark") {
	:root {
		--sponsor-img-border-radius: var(--border-radius);
		--sponsor-backers-img-border-radius: var(--border-radius);
	}
}

html[data-theme="light"] {
	--sponsor-img-border-radius: 0;
    --sponsor-backers-img-border-radius: 50%;
}

html[data-theme="dark"] {
    --sponsor-img-border-radius: var(--border-radius);
	--sponsor-backers-img-border-radius: var(--border-radius);
}
