---
layout: false
permalink: _redirects
eleventyExcludeFromCollections: true
---

# Netlify Redirect Rules
# https://www.netlify.com/docs/redirects/

{% for redirect in site.redirects %}
{{ redirect.from }}                 {{ redirect.to }} {{ redirect.status }}
{% endfor %}

# External Redirects
/cla                                https://cla.js.foundation/eslint/eslint 302!
/conduct                            https://code-of-conduct.openjsf.org/ 302!
/chat/tsc-meetings                  https://discord.gg/3brqTzJ 302!
/chat/help                          https://discord.gg/Qj7tQuW6mB 302!
/chat/blog                          https://discord.gg/GrFKqSDkQ9 302!
/chat/developers                    https://discord.gg/JUhFAjbY6w 302!
/chat/eslint-community              https://discord.gg/B5T3PFZCtC 302!
/chat                               https://discord.gg/8szcydm 302!

# Internal Redirects
/demo/*                             /play/:splat 302!

{% if site.locals.docs_latest %}

# Old-Style Docs to New-Style Docs
/docs/rules/*                       /docs/latest/rules/:splat 301!
/docs/user-guide/*                  /docs/latest/user-guide/:splat 301!
/docs/maintainer-guide/*            /docs/latest/maintainer-guide/:splat 301!
/docs/developer-guide/*             /docs/latest/developer-guide/:splat 301!

# Redirects for the ESLint IA Refactor (https://github.com/eslint/rfcs/pull/97)
/docs/latest/user-guide/                                     /docs/latest/use/ 301!
/docs/latest/user-guide/core-concepts                        /docs/latest/use/core-concepts 301!
/docs/latest/user-guide/configuring/                         /docs/latest/use/configure/ 301!
/docs/latest/user-guide/configuring/configuration-files-new  /docs/latest/use/configure/configuration-files-new 301!
/docs/latest/user-guide/configuring/configuration-files     /docs/latest/use/configure/configuration-files 301!
/docs/latest/user-guide/configuring/language-options         /docs/latest/use/configure/language-options 301!
/docs/latest/user-guide/configuring/rules                    /docs/latest/use/configure/rules 301!
/docs/latest/user-guide/configuring/plugins                  /docs/latest/use/configure/plugins 301!
/docs/latest/user-guide/configuring/ignoring-code            /docs/latest/use/configure/ignore 301!
/docs/latest/user-guide/command-line-interface               /docs/latest/use/command-line-interface 301!
/docs/latest/user-guide/formatters/                          /docs/latest/use/formatters/ 301!
/docs/latest/user-guide/integrations                         /docs/latest/use/integrations 301!
/docs/latest/user-guide/migrating-to-8.0.0                   /docs/latest/use/migrate-to-8.0.0 301!
/docs/latest/developer-guide/architecture/                   /docs/latest/contribute/architecture/ 301!
/docs/latest/developer-guide/source-code                     /docs/latest/contribute/development-environment 301!
/docs/latest/contribute/source-code                          /docs/latest/contribute/development-environment 301!
/docs/latest/developer-guide/development-environment         /docs/latest/contribute/development-environment 301!
/docs/latest/developer-guide/unit-tests                      /docs/latest/contribute/tests 301!
/docs/latest/developer-guide/working-with-rules              /docs/latest/extend/custom-rules 301!
/docs/latest/developer-guide/working-with-plugins            /docs/latest/extend/plugins 301!
/docs/latest/developer-guide/working-with-custom-formatters  /docs/latest/extend/custom-formatters 301!
/docs/latest/developer-guide/working-with-custom-parsers     /docs/latest/extend/custom-parsers 301!
/docs/latest/developer-guide/working-with-rules-deprecated   /docs/latest/extend/custom-rules-deprecated 301!
/docs/latest/developer-guide/code-path-analysis              /docs/latest/extend/code-path-analysis 301!
/docs/latest/developer-guide/scope-manager-interface         /docs/latest/extend/scope-manager-interface 301!
/docs/latest/developer-guide/selectors                       /docs/latest/extend/selectors 301!
/docs/latest/developer-guide/shareable-configs               /docs/latest/extend/shareable-configs 301!
/docs/latest/developer-guide/nodejs-api                      /docs/latest/integrate/nodejs-api 301!
/docs/latest/developer-guide/code-conventions                /docs/latest/contribute/code-conventions 301!
/docs/latest/developer-guide/package-json-conventions        /docs/latest/contribute/package-json-conventions 301!
/docs/latest/developer-guide/contributing/                   /docs/latest/contribute/ 301!
/docs/latest/developer-guide/contributing/reporting-bugs     /docs/latest/contribute/report-bugs 301!
/docs/latest/developer-guide/contributing/new-rules          /docs/latest/contribute/propose-new-rule 301!
/docs/latest/developer-guide/contributing/rule-changes       /docs/latest/contribute/propose-rule-change 301!
/docs/latest/developer-guide/contributing/changes            /docs/latest/contribute/request-change 301!
/docs/latest/developer-guide/contributing/working-on-issues  /docs/latest/contribute/work-on-issue 301!
/docs/latest/developer-guide/contributing/pull-requests      /docs/latest/contribute/pull-requests 301!
/docs/latest/maintainer-guide/                               /docs/latest/maintain/ 301!
/docs/latest/maintainer-guide/issues                         /docs/latest/maintain/manage-issues 301!
/docs/latest/maintainer-guide/pullrequests                   /docs/latest/maintain/review-pull-requests 301!
/docs/latest/maintainer-guide/releases                       /docs/latest/maintain/manage-releases 301!
/docs/latest/maintainer-guide/working-groups                 /docs/latest/maintain/working-groups   301!
/docs/latest/maintainer-guide/governance                     /docs/latest/contribute/governance 301!
/docs/latest/user-guide/configuring/*                        /docs/latest/use/configure/:splat 301!
/docs/latest/user-guide/*                                    /docs/latest/use/:splat 301!
/docs/latest/developer-guide/*                               /docs/latest/extend/:splat 301!
/docs/latest/maintainer-guide/*                              /docs/latest/maintain/:splat 301!

# Regular Docs
/docs/latest/*                      https://{{ site.locals.docs_latest }}/:splat 200!
/docs/                              /docs/latest/ 301!
{% else %}

# Redirect docs back to English site
/docs/*                             https://eslint.org/docs/:splat 302!
{% endif %}

# Docs checked into main branch but not released
{% if site.locals.docs_head %}
/docs/head/*                        https://{{ site.locals.docs_head }}/:splat 200!
{% else %}
/docs/head/*                        https://eslint.org/docs/head/:splat 302!
{% endif %}

# Docs for the current prerelease
{% if site.locals.docs_next %}
/docs/next/*                        https://{{ site.locals.docs_next }}/:splat 200!
{% else %}
/docs/next/*                        https://eslint.org/docs/next/:splat 302!
{% endif %}

{% if site.locals.blog == false %}
# Redirect blog back to English site
/blog/*                             https://eslint.org/blog/:splat 302!
{% endif %}
