---
layout: false
permalink: _redirects
eleventyExcludeFromCollections: true
---

# Netlify Redirect Rules
# https://www.netlify.com/docs/redirects/

{% for redirect in site.redirects %}
{{ redirect.from }}                 {{ redirect.to }} {{ redirect.status }}
{% endfor %}

# External Redirects
/cla                                https://cla.js.foundation/eslint/eslint 302!
/conduct                            https://code-of-conduct.openjsf.org/ 302!
/chat/tsc-meetings                  https://discord.gg/3brqTzJ 302!
/chat/help                          https://discord.gg/nJdtBaF 302!
/chat/blog                          https://discord.gg/GrFKqSDkQ9 302!
/chat                               https://discord.gg/8szcydm 302!

# Internal Redirects
/demo/*                             /play/:splat 302!

{% if site.locals.docs_latest %}

# Old-Style Docs to New-Style Docs
/docs/rules/*                       /docs/latest/rules/:splat 301!
/docs/user-guide/*                  /docs/latest/user-guide/:splat 301!
/docs/maintainer-guide/*            /docs/latest/maintainer-guide/:splat 301!
/docs/developer-guide/*             /docs/latest/developer-guide/:splat 301!

# Regular Docs
/docs/latest/*                      https://{{ site.locals.docs_latest }}/:splat 200!
/docs/                              /docs/latest/ 301!
{% else %}

# Redirect docs back to English site
/docs/*                             https://eslint.org/docs/:splat 302!
{% endif %}

# Docs checked into main branch but not released
{% if site.locals.docs_head %}
/docs/head/*                        https://{{ site.locals.docs_head }}/:splat 200!
{% else %}
/docs/head/*                        https://eslint.org/docs/head/:splat 302!
{% endif %}

{% if site.locals.blog == false %}
# Redirect blog back to English site
/blog/*                             https://eslint.org/blog/:splat 302!
{% endif %}
