---
layout: false
permalink: _redirects
eleventyExcludeFromCollections: true
---

# Netlify Redirect Rules
# https://www.netlify.com/docs/redirects/

# External Redirects
/cla                                https://cla.js.foundation/eslint/eslint 302!
/conduct                            https://code-of-conduct.openjsf.org/ 302!
/chat/tsc-meetings                  https://discord.gg/3brqTzJ 302!
/chat/help                          https://discord.gg/nJdtBaF 302!
/chat                               https://discord.gg/8szcydm 302!

# Internal Redirects
/demo/*                             /play/:splat 302!

# Proxied Endpoints
/docs/*                             https://docs-eslint.netlify.app/:splat 200!
/play/*                             https://play-eslint.netlify.app/:splat 200!

{% if site.language.code != "en" %}
# Translation Blog Redirects
https://{{ site.hostname }}/blog/*      https://eslint.org/blog/:splat 302!
{% endif %}
