---
layout: false
permalink: robots.txt
eleventyExcludeFromCollections: true
---
Sitemap: https://{{ site.hostname }}/sitemap.xml
User-agent: *

{% if "new." in site.hostname %}
Disallow: /
{% endif %}
