---
layout: false
permalink: robots.txt
eleventyExcludeFromCollections: true
---
Sitemap: https://{{ site.hostname }}/sitemap-index.xml

User-agent: *
{% if "new." in site.hostname %}Disallow: /{% endif %}
