name: eslint.org
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  ci:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "16.x"
          cache: "npm"
      - name: Install website dependencies
        run: npm ci
      - name: Install playground dependencies
        working-directory: src/playground
        run: npm ci
      - name: Lint Files
        run: npm run lint
      - name: Run build
        run: npm run build
