<nav aria-labelledby="blog-categories-nav-label" class="categories">
    <h2 class="categories__title" id="blog-categories-nav-label">{{ site.blog_page.categories.title }}</h2>
    <ul role="list" class="categories__list">
        {% set blogURL = '/blog/' | url %}
        <li class="categories__list__item"><a href="/blog/" {{ helpers.setBlogActiveState(blogURL, page.url) | safe }}>{{ site.blog_page.categories.everything }}</a></li>
        {% for category in collections.blogCategories %}
            <li class="categories__list__item">

                {% set itemURL = ['/blog/category/', category.slug] | join %}

                <a href="/blog/category/{{ category.slug }}" {{ helpers.setActiveCategory(itemURL, page.url) | safe }} >{{ category.title }}</a>
            </li>
        {% endfor %}
        </ul>
    </ul>
</nav>
