<nav aria-labelledby="blog-categories-nav-label" class="categories">
    <h2 class="categories__title" id="blog-categories-nav-label">Blog categories</h2>
    <ul role="list" class="categories__list">
        <li class="categories__list__item"><a href="" aria-current="page">Everything</a></li>
        {% for category in collections.blogCategories %}
            <li class="categories__list__item">
                <a href="/blog/category/{{ category.slug }}">{{ category.title }}</a>
            </li>
        {% endfor %}
        </ul>
    </ul>
</nav>
