<footer class="site-footer">
    <div class="content-container divider">
        <section class="footer-cta center-text">
            {% include "components/logo.html" %}

            <div class="section-head centered">
                <h2 class="section-title h3">{{ site.footer.title }}</h2>
                <p class="section-supporting-text">
                    {{ site.footer.description }}
                </p>
            </div>
            <div class="eslint-actions">
                <a
                    href="{{ links.getStarted }}"
                    target="_blank"
                    class="c-btn c-btn--primary"
                    title="{{ site.shared.get_started }}"
                >
                    {{ site.shared.get_started }}
                </a>
                <a
                    href="{{ links.donate }}"
                    class="c-btn c-btn--secondary donate-link"
                    title="{{ site.shared.become_a_sponsor }}"
                >
                    {{ site.shared.become_a_sponsor }}
                </a>
            </div>
        </section>
    </div>
    <div class="content-container divider footer-middle">
        {% include 'components/social-icons.html' %}
        {% include 'components/theme-switcher.html' %}
        {% include 'components/language-switcher.html' %}
    </div>
    <div class="content-container footer-legal-section">
        <div class="copyright">
            <p>{{ site.footer.copyright | safe }}</p>
        </div>
        <nav aria-labelledby="footer-legal-links-label" class="footer-legal-links">
            <h2 id="footer-legal-links-label" hidden>{{ site.footer.secondary }}</h2>
            <ul>
                <li><a href="/branding/" title="{{ site.branding_page.title }}">{{ site.branding_page.title }}</a></li>
                <li><a href="https://openjsf.org/" title="{{ site.footer.links.open_jsf }}">{{ site.footer.links.open_jsf }}</a></li>
                <li><a href="https://terms-of-use.openjsf.org/" title="{{ site.footer.links.terms }}">{{ site.footer.links.terms }}</a></li>
                <li><a href="https://privacy-policy.openjsf.org/" title="{{ site.footer.links.privacy }}">{{ site.footer.links.privacy }}</a></li>
                <li><a href="https://bylaws.openjsf.org/" title="{{ site.footer.links.bylaws }}">{{ site.footer.links.bylaws }}</a></li>
                <li><a href="https://trademark-policy.openjsf.org/" title="{{ site.footer.links.trademark }}">{{ site.footer.links.trademark }}</a></li>
                <li><a href="https://trademark-list.openjsf.org/" title="{{ site.footer.links.trademark_list }}">{{ site.footer.links.trademark_list }}</a></li>
                <li><a href="https://www.linuxfoundation.org/cookies/" title="{{ site.footer.links.cookies }}">{{ site.footer.links.cookies }}</a></li>
            </ul>
        </nav>
    </div>
</footer>
