<div role="region" class="language-switcher" aria-labelledby="language-switcher-label">
    <span id="language-switcher-label" hidden>Language Switcher</span>
    <a href="/languages/" class="dw-toggle language-switcher__toggle c-btn c-btn--ghost" id="languages-toggle" data-dw-toggle>
        <svg width="25" height="25" viewBox="0 0 100 100" aria-hidden="true" focusable="false">
            <polygon fill="currentColor" points="27.08 43 32.93 43 30 33.49 27.08 43"></polygon>
            <path fill="currentColor" d="M38,14H18a8,8,0,0,0-8,8V90L34,66H52ZM34.16,47H25.85L24,53H20l8-26h4l8,26H36Z"></path>
            <path fill="currentColor" d="M82,14H42L56,66H82a8,8,0,0,0,8-8V22A8,8,0,0,0,82,14ZM68,27h4v4H68ZM80,53a26.81,26.81,0,0,1-10.64-2.1A21.79,21.79,0,0,1,60,53V49a17.9,17.9,0,0,0,5-.7c-3.09-2.46-5-5.69-5-9.3h4c0,2.88,2.08,5.51,5.32,7.36A13.54,13.54,0,0,0,76,35H60V31H80v4h0a17.15,17.15,0,0,1-6.37,13.13A23.34,23.34,0,0,0,80,49Z"></path>
        </svg> Language</span>

        <svg class="dw-toggle__chevron" width="20" height="21" viewBox="0 0 20 21" fill="none" aria-hidden="true" focusable="false">
            <path d="M5 7.60938L10 12.6094L15 7.60938" stroke="currentColor" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
    </a>

    <div class="dw-panel language-switcher__dropdown" id="languages-dropdown" hidden data-dw-panel>
        <nav aria-labelledby="languages-toggle">
            {% include 'partials/languages-list.html' %}
        </nav>
    </div>
</div>
