<ul class="languages-list">
    <li><a href="#" aria-current="true"><span class="flag">🇺🇸</span> English (US)</a></li>
    <li><a href="#"><span class="flag">🇫🇷</span> Français</a></li>
    <li><a href="#"><span class="flag">🇩🇪</span> Deutsch</a></li>
    <li><a href="#"><span class="flag">🇯🇵</span>日本語</a></li>
    <li><a href="#"><span class="flag">🇫🇷</span> Français</a></li>
    <li><a href="#"><span class="flag">🇩🇪</span> Deutsch</a></li>
    <li><a href="#"><span class="flag">🇯🇵</span>日本語</a></li>
    <li><a href="#"><span class="flag">🇫🇷</span> Français</a></li>
    <li><a href="#"><span class="flag">🇩🇪</span> Deutsch</a></li>
    <li><a href="#"><span class="flag">🇯🇵</span>日本語</a></li>
</ul>
