<aside class="span-1-3 post__sidebar">
    <div class="post__sidebar-module post-contributors">
        <h2 class="post__sidebar-module__title">Contributors</h2>
        {% for author in authors %}
        {{ contributor({
            photo: all_authors[author].avatar_url,
            name: all_authors[author].name,
            handle: all_authors[author].username
        }) }}
        {% endfor %}
    </div>

    {% if tags %}
    <div class="post__sidebar-module">
        <h2 class="post__sidebar-module__title">Tags</h2>
        <ul role="list" class="tag-list">
            {% for tag in tags %}
            <li class="tag-list__item">{{ tag }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <div class="post__sidebar-module">
        <h2 class="post__sidebar-module__title">Share</h2>
        {% include "components/post-share.html" %}
    </div>

    {% if original %}
    <div class="post__sidebar-module">
        <h2 class="post__sidebar-module__title">Source</h2>
        <p class="text-dark">Originally Posted at <a href="{{ original.url }}">{{ original.site.name }}</a> on {{ original.date | readableDate }} </p>
    </div>
    {% endif %}

</aside>
